$shadow_color: rgba(0, 0, 0, 0.159);

#friendsContent {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	// background-color: orange;

	min-height: 50vh;
	height: 100%;
	width: 100%;
}

#friendsWrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	// width: 90%;
	max-width: 2000px;
	height: 100%;

	// background-color: green;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	// background-color: red;

	padding-bottom: 1rem;

	h2 {
		display: flex;
		flex-direction: row;
		justify-content: end;
		align-items: end;

		margin-bottom: -1.9rem;
		// background-color: pink;

		font-size: 2rem;
	}

	.subheader {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		margin-bottom: 0.5rem;

		// background-color: red;

		.sortBy {
			display: inline-flex;
			flex-direction: row-reverse;
			justify-content: end;
			align-items: center;

			height: 100%;
			width: 100%;

			// background-color: orange;

			#sortby {
				margin-right: 0.5rem;
			}

			#sortbyOptions {
				padding: 0.5rem;
				width: 10rem;

				border: none;
				border-radius: 5px;
			}
		}
	}
}

#friendList {
	// border: 1px solid white;
	box-sizing: border-box;
	border-radius: 1rem;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	overflow: hidden;
	background-color: lightgray;

	border: none;

	box-shadow: 0px 0px 20px 0px $shadow_color;

	th,
	td {
		background-color: none;
		padding: 1rem;

		font-size: 1rem;
		font-weight: normal;
		border: none;
	}
	th:hover {
		box-shadow: 0px 0px 10px 0px lightgray inset;
		background-color: rgb(183, 183, 183);
		cursor: pointer;
	}

	thead {
		th {
			padding-top: 1.25rem;
			padding-bottom: 0.75rem;
			font-weight: 500;
		}

		.labels {
			#name {
				width: auto;
			}

			#relationship {
				width: auto;
			}

			#last_interaction {
				width: 12rem;
			}

			#birthday {
				width: 6rem;
			}

			#created_at {
				width: 7rem;
			}
		}
	}

	tbody {
		td {
			background-color: white;
		}
		td:hover {
			box-shadow: 0px 0px 10px 0px rgb(233, 233, 233) inset;
			background-color: white;
			cursor: cell;
		}

		.created_at,
		.birthday,
		.last_interaction {
			text-align: center;
		}

		.relationship {
			text-align: center;
			line-height: 0.75rem;

			.emoji {
				// margin-bottom: 0.5rem;
			}
			.relationship_title {
				// text-transform: capitalize;
				// background-color: red;
			}
		}

		a {
			height: 100%;
			width: 100%;
		}
	}
}

.noFriends {
	header {
		h2 {
			margin-bottom: 1rem;
		}
	}

	#friendList,
	.noFriends {
		// background-color: red;

		thead {
			.labels {
				#leftmost {
					padding-left: 2rem;
				}
				#rightmost {
					padding-right: 2rem;
				}

				th {
					padding-left: 2rem;
					padding-right: 2rem;
					color: gray;
				}
				th:hover {
					box-shadow: none;
					background-color: inherit;
					cursor: default;
				}
			}
		}

		#noFriends {
			width: 100%;
			// background-color: red;

			color: rgb(112, 112, 112);

			td {
				text-align: center;
				border: 1px solid white;
				background-color: white;

				padding-top: 3rem;
				padding-bottom: 2.5rem;

				user-select: none;
			}
			td:hover {
				box-shadow: none;
				cursor: default;
			}
		}
	}
}

#pagenav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	height: 3rem;

	margin-top: 2rem;

	background-color: red;

	border-radius: 16px;
	overflow: hidden;

	background-color: white;

	box-shadow: 0px 0px 10px 0px lightgray;

	.arrow {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		height: 100%;
		width: 2rem;

		background-color: rgb(246, 246, 246);
	}
	#left {
		border-top-left-radius: 16px;
		border-bottom-left-radius: 16px;

		padding-right: 0.75rem;
	}
	#right {
		border-top-right-radius: 16px;
		border-bottom-right-radius: 16px;

		padding-left: 0.75rem;
	}
	.arrow:hover {
		cursor: pointer;
		// box-shadow: 0px 0px 5px 0px lightgray inset;
		color: black;
		font-weight: bold;
		background-color: rgb(225, 225, 225);
		box-shadow: 0px 0px 5px 0px rgb(150, 150, 150) inset;
	}

	.buttons {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		// padding-left: 0.5rem;
		// padding-right: 1rem;

		// background-color: orange;

		.button {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			height: 3rem;
			width: 3rem;

			text-decoration: none;
			color: gray;

			// margin-left: 0.5rem;

			border-top: 1px solid lightgray;
			border-bottom: 1px solid lightgray;

			// background-color: yellow;
		}

		.button:hover {
			cursor: pointer;
			box-shadow: 0px 0px 5px 0px lightgray inset;
		}

		#ellipsis:hover {
			box-shadow: none;
			cursor: default;
		}

		.selected {
			background-color: rgb(157, 157, 157);
			color: white;
		}
		.selected:hover {
			border: none;
			color: white;
			box-shadow: 0px 0px 5px 0px rgb(103, 103, 103) inset;
			background-color: rgb(157, 157, 157);
		}
	}
}

#addFriend {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-wrap: none;
	width: 10rem;

	padding: 0.5rem;
	text-decoration: none;
	border-radius: 5px;

	font-size: 1rem;
	color: black;
	background-color: magenta;
	box-shadow: 0px 0px 10px 0px $shadow_color;
}
#addFriend:hover {
	background-color: violet;
	box-shadow: 0px 0px 10px 0px $shadow_color;
}
#addFriend:active {
	color: black;
	box-shadow:
		0px 0px 10px 0px inset purple,
		0px 0px 10px 0px $shadow_color;
}
