$shadow_color: rgba(0, 0, 0, 0.159);

#friendsContent {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	// background-color: orange;

	min-height: 50vh;
	height: 100%;
	width: 100%;
}

#friendsWrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	// width: 90%;
	max-width: 2000px;
	height: 100%;

	// background-color: green;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	// background-color: red;

	padding-bottom: 1rem;

	h2 {
		display: flex;
		flex-direction: row;
		justify-content: end;
		align-items: end;
		// background-color: pink;

		font-size: 2rem;
	}

	.sortBy {
		display: inline-flex;
		flex-direction: row-reverse;
		justify-content: end;
		align-items: center;

		height: 100%;
		width: 100%;

		// background-color: orange;

		#sortby {
			margin-right: 0.5rem;
		}

		#sortbyOptions {
			padding: 0.5rem;

			border: none;
			border-radius: 5px;
		}
	}
}

#friendList {
	// border: 1px solid white;
	box-sizing: border-box;
	border-radius: 1rem;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	overflow: hidden;
	background-color: lightgray;
	border: none;

	box-shadow: 0px 0px 20px 0px $shadow_color;

	th,
	td {
		background-color: none;
		padding: 1rem;

		font-size: 1rem;
		font-weight: normal;
		border: none;
	}
	th:hover {
		box-shadow: 0px 0px 10px 0px lightgray inset;
		background-color: rgb(183, 183, 183);
		cursor: pointer;
	}

	thead {
		th {
			padding-top: 1.25rem;
			padding-bottom: 0.75rem;
			font-weight: 500;
		}

		.labels {
			#name {
				width: auto;
			}

			#relationship {
				width: auto;
			}

			#last_interaction {
				width: 12rem;
			}

			#birthday {
				width: 6rem;
			}

			#created_at {
				width: 7rem;
			}
		}
	}

	tbody {
		td {
			background-color: white;
		}
		td:hover {
			box-shadow: 0px 0px 10px 0px rgb(233, 233, 233) inset;
			background-color: white;
			cursor: cell;
		}

		.created_at,
		.birthday,
		.last_interaction {
			text-align: center;
		}

		.relationship {
			text-align: center;
			line-height: 0.75rem;

			.emoji {
				// margin-bottom: 0.5rem;
			}
			.relationship_title {
				// background-color: red;
			}
		}

		a {
			height: 100%;
			width: 100%;
		}
	}
}

#pagenav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	height: 3rem;

	margin-top: 2rem;

	background-color: red;

	border-radius: 1rem;
	overflow: hidden;

	background-color: white;

	box-shadow: 0px 0px 10px 0px lightgray;

	.arrow {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		height: 100%;
		width: 2rem;

		background-color: rgb(246, 246, 246);
	}
	#left {
		padding-right: 0.75rem;
	}
	#right {
		padding-left: 0.75rem;
	}
	.arrow:hover {
		cursor: pointer;
		// box-shadow: 0px 0px 5px 0px lightgray inset;
		color: white;
		font-weight: bold;
		background-color: lightgray;
	}

	.buttons {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		// padding-left: 0.5rem;
		// padding-right: 1rem;

		// background-color: orange;

		.button {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			height: 3rem;
			width: 3rem;

			text-decoration: none;
			color: gray;

			// margin-left: 0.5rem;

			border-top: 1px solid lightgray;
			border-bottom: 1px solid lightgray;

			// background-color: yellow;
		}

		.button:hover {
			cursor: pointer;
			box-shadow: 0px 0px 5px 0px lightgray inset;
		}

		#ellipsis:hover {
			box-shadow: none;
			cursor: default;
		}

		.selected {
			box-shadow: inset 0 0 0px 2px lightgray;
			background-color: rgb(157, 157, 157);
			color: white;
		}
		.selected:hover {
			border: none;
			color: white;
			box-shadow: inset 0 0 0px 2px lightgray;
			background-color: rgb(157, 157, 157);
		}
	}
}
