$shadow_color: rgba(0, 0, 0, 0.159);

.friendCard {
    padding: 2em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: calc(1em * 2 / 3);

    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px $shadow_color;
    -webkit-box-shadow: 1px 1px 10px 1px $shadow_color;
    -moz-box-shadow: 1px 1px 10px 1px $shadow_color;

    background-color: white;

    .name {

        // margin-bottom: 0.9em;

        font-size: 1.75em;

    }

    .pfp {
        background-color: white;
        background: radial-gradient(white, rgb(244, 244, 244));

        display: flex;
        justify-content: center;
        align-items: center;

        $min-dimension: none;
        $dimension: 50vw;
        $max-dimension: 400px;

        min-width: $min-dimension;
        width: $dimension;
        max-width: $max-dimension;
        min-height: $min-dimension;
        height: $dimension;
        max-height: $max-dimension;

        border-radius: 0.5em;

        margin: 1em;
        padding: 1em;

        font-size: 2em;
        font-family: cursive;
        font-style: italic;
        font-weight: normal;
        text-align: center;
        
    }

    .deleteFriend {
        padding: 1em;

        margin-top: 1em;

        width: 50%;

        font-size: 1em;

        border: 0.125em solid red;
        border-radius: 1em;
        color: red;
        background: linear-gradient(white, hwb(0 78% 0%))
    }
    .deleteFriend:hover {
        color: white;
        background-color: red;
        background: linear-gradient(red, rgb(172, 0, 0));
    }
    .deleteFriend:active {
        border-color: red;
        background-color: darkred;
        background: linear-gradient(darkred, rgb(83, 0, 0));
    }
}