$shadow_color: rgba(0, 0, 0, 0.159);
$FRIEND_CARD_BORDER_RADIUS: 2rem;
$FRIEND_CARD_FIELD_BORDER_RADIUS: 1rem;
$FRIEND_CARD_BUTTON_BORDER_RADIUS: 0.75rem;

#friendStandalonePageContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	// background-color: yellow;

	#friendCard {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;

		padding: 2rem;
		box-sizing: border-box;

		width: 90%;
		max-width: 62.5rem;

		border-radius: $FRIEND_CARD_BORDER_RADIUS;

		box-shadow: 0px 0px 30px 0px lightgray;

		background-color: white;
		// background-color: crimson;

		.nameAndPhoto {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			padding: 2em;
			box-sizing: border-box;

			border-radius: $FRIEND_CARD_FIELD_BORDER_RADIUS;

			box-shadow: 0px 0px 10px 0px lightgray;

			width: 100%;
			background-color: white;

			.pfp {
				$DIMENSION: 20rem;

				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				min-height: $DIMENSION;
				height: 100%;
				min-height: $DIMENSION;

				min-width: $DIMENSION;
				width: 100%;
				max-width: $DIMENSION;

				border-radius: 100%;

				box-shadow: 0px 0px 0px 0px gray;

				object-fit: cover;

				font-size: 3rem;
				font-weight: 100;
				font-family:
					"Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
					sans-serif;

				text-align: center;

				color: white;
				background-color: black;
			}

			#nameAndRelationship {
				display: flex;
				flex-direction: column;
				justify-content: start;
				align-items: start;
				justify-self: stretch;

				padding-left: 1.75rem;
				margin-top: $FRIEND_CARD_FIELD_BORDER_RADIUS;

				// background-color: red;

				.name {
					display: flex;
					flex-direction: row;
					justify-content: start;
					align-items: center;
					flex-wrap: wrap;

					font-size: 2rem;
					font-weight: 400;

					width: 100%;
					max-width: 20rem;

					padding-bottom: 0.5rem;
					box-sizing: border-box;

					text-wrap: wrap;

					// background-color: yellow;
				}

				.relationship {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;

					height: 100%;
					width: 100%;

					font-weight: 300;

					// background-color: teal;

					.relationship_tier {
						display: flex;
						flex-direction: row-reverse;
						justify-content: start;
						align-items: center;

						width: 100%;

						font-weight: inherit;

						// background-color: yellowgreen;

						.emoji,
						.relationship_name {
							font-size: 1.5rem;
						}

						.emoji {
							display: flex;
							flex-direction: row;
							justify-content: center;
							align-items: center;

							// background-color: pink;

							min-width: 2.1rem;
							width: 100%;
							max-width: 2.1rem;

							margin-left: 0.4rem;

							margin-bottom: 0.15rem;

							// min-height: 2.15rem;
							// height: 100%;
							// max-height: 2.15rem;

							border-radius: 100%;
						}

						.relationship_name {
							display: flex;
							flex-direction: row;
							justify-content: start;
							align-items: center;

							// margin-left: 0.51rem;

							height: 100%;

							font-weight: inherit;

							// background-color: aquamarine;
						}
					}

					.relationship_health {
						display: flex;
						flex-direction: row;
						justify-content: start;
						align-items: center;

						width: 100%;

						font-size: 1.25rem;

						margin-top: 0.5rem;
						// padding-left: 2.6rem;

						box-sizing: border-box;

						font-weight: 200;

						// background-color: azure;

						.health {
							margin-left: 0.5rem;

							font-size: inherit;

							text-decoration: underline;

							color: rgb(177, 226, 103);

							font-weight: normal;
						}
					}
				}
			}
		}

		.card_content {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: stretch;

			width: 100%;

			margin-top: 2em;
			margin-bottom: 2em;

			border-radius: $FRIEND_CARD_FIELD_BORDER_RADIUS;

			// background-color: orange;

			.friend_card_content_section {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;

				min-width: 18rem;
				min-height: 10rem;

				padding: 1.5rem;
				box-sizing: border-box;

				font-size: 1.6rem;

				box-shadow: 0px 0px 7.5px 0px lightgray;

				border-radius: $FRIEND_CARD_FIELD_BORDER_RADIUS;

				background-color: white;

				h3 {
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;

					width: 100%;

					margin-bottom: 1em;

					font-size: 1.5rem;
					font-weight: lighter;

					// background-color: coral;
				}
			}

			#lastInteraction {
				// background-color: violet;

				.time_ago {
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;

					width: 100%;

					font-size: inherit;

					// background-color: aquamarine;

					.number_of_time_units {
						// font-weight: bold;
						font-size: inherit;
					}

					.time_unit {
						margin-left: 0.25em;
						margin-right: 0.25em;

						// font-weight: bold;
						font-size: inherit;
					}

					.ago {
						font-size: inherit;
					}
				}

				.update {
					padding: 0.5em;
					padding-left: 2em;
					padding-right: 2em;
					box-sizing: border-box;

					margin-top: 1.75rem;
					margin-bottom: -0.5rem;

					border: 2px solid lightgray;
					border-radius: $FRIEND_CARD_BUTTON_BORDER_RADIUS;

					color: gray;
					background-color: white;
				}
				.update:hover {
					cursor: pointer;
					box-shadow: 0px 0px 5px 0px lightgray;
					background-color: rgb(231, 231, 231);
				}
				.update:active {
					box-shadow: 0px 0px 3px 0px gray inset;
				}
			}

			#birthday {
				.emoji {
					font-size: 2em;

					margin-bottom: -0.1em;
				}

				.birthday_date {
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;

					width: 100%;

					font-size: inherit;

					margin-bottom: 0.5em;

					.month {
						font-size: inherit;
					}

					.day {
						margin-left: 0.5rem;

						font-size: inherit;
					}
				}
			}

			#notesSection {
				#notes {
					min-height: 4em;
					height: 100%;

					text-wrap: wrap;

					width: 100%;

					border: 2px solid lightgray;
					border-radius: calc($FRIEND_CARD_BUTTON_BORDER_RADIUS / 2);

					resize: none;

					color: rgb(65, 65, 65);
					// background-color: blue;
				}
			}
		}

		.buttons {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			align-items: center;

			width: 100%;
			max-width: 40rem;

			// background-color: blue;

			button {
				width: 90%;
				max-width: 15rem;

				box-sizing: border-box;
			}

			#deleteFriend {
				padding: 1rem;
				padding-left: 3rem;
				padding-right: 3rem;

				border: 2px solid red;
				border-radius: $FRIEND_CARD_BUTTON_BORDER_RADIUS;

				color: red;

				background-color: white;
			}
			#deleteFriend:hover {
				cursor: pointer;

				font-weight: bold;

				box-shadow: 0px 0px 10px 0px red;

				color: white;
				background-color: red;
			}
			#deleteFriend:active {
				border-color: crimson;
				box-shadow: 0px 0px 10px 0px crimson inset;
			}

			#editFriend {
				padding: 1rem;
				padding-left: 3rem;
				padding-right: 3rem;

				border: 2px solid lightgray;
				border-radius: $FRIEND_CARD_BUTTON_BORDER_RADIUS;

				color: lightgray;

				background-color: white;
			}
			#editFriend:hover {
				cursor: pointer;

				font-weight: bold;

				box-shadow: 0px 0px 10px 0px lightgray;

				color: white;
				background-color: lightgray;
			}
			#editFriend:active {
				border-color: gray;
				box-shadow: 0px 0px 10px 0px gray inset;
			}
		}
	}
}
