@use "../../../static/styles/variables";

#loginContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	min-height: calc(100vh - 2 * variables.$NAVBAR_HEIGHT);
	width: 100%;

	$background_color: variables.$VIOLET_BACKGROUND;
	background: $background_color;
	background: linear-gradient(180deg, white 0%, $background_color 100%);
}

#loginForm {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;

	padding: 2em;
	padding-bottom: 1em;
	box-sizing: border-box;

	background-color: white;
	color: darkslategrey;

	$shadow_color: rgba(0, 0, 0, 0.283);
	// box-shadow: 1px 1px 20px 1px $shadow_color;

	max-width: 30em;
	// height: 50vh;

	input {
		box-sizing: border-box;
		margin-bottom: 1.25em;
		margin-top: 0.25em;
		padding: 0.35em;
		width: 100%;

		border: 2px solid lightgray;
		border-radius: 0.1em;
		// border-color: gray;
	}

	#loginButton {
		margin-top: 1.25em;
		margin-bottom: 0.7em;

		padding: 0.5em;

		max-width: 11em;

		font-size: 95%;
	}
}

#toSignup {
	margin-top: 2.5em;
}
