@use "../../../static/styles/variables";

#NotFoundContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: calc(100vh - 2 * variables.$NAVBAR_HEIGHT);
	width: 100%;

	color: white;
	background-color: variables.$VIOLET;

	.top {
		display: flex;
		flex-direction: column;
		justify-content: center;

		#error-code {
			font-size: 3em;
			font-family: "Comic Sans MS", cursive, sans-serif;

			// background-color: ;
		}

		#cuteness {
			border-radius: 1em;
		}
	}

	#go-home {
		margin-top: 2em;

		padding: 1em 3.5em 1em 3.5em;

		background-color: variables.$YELLOW;
		color: rgb(62, 0, 62);
		border-radius: 0.75em;
		text-decoration: none;
	}
	#go-home:hover {
		background-color: variables.$YELLOW_DARK;
	}
	#go-home:active {
		background-color: rgb(91, 0, 91);
	}
}
