.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // background-color: red;

    .top {
        display: flex;
        flex-direction: column;
        justify-content: center;

        #error-code {

            font-size: 3em;
            font-family: "Comic Sans MS", cursive, sans-serif;

            // background-color: ;
        }

        #cuteness {
            border-radius: 1em;
        }
    }

    
    
    #go-home {

        margin-top: 2em;

        padding: 1em 3.5em 1em 3.5em;

        background-color: magenta;
        color: rgb(62, 0, 62);
        border-radius: 0.75em;
        text-decoration: none;
        
    }
    #go-home:hover {
        background-color: purple;
        color: white;
    }
    #go-home:active {
        background-color: rgb(91, 0, 91);
    }

}

