services:
    backend:
        build: ./backend
        ports:
            - "8080:3001"
        volumes:
            - sqlite_data:/app/data # Persists your .db file

    frontend:
        build: ./frontend
        ports:
            - "80:80"
        depends_on:
            - backend

volumes:
    sqlite_data:
