services:
    db:
        restart: always

    backend:
        build:
            target: dist
        restart: always

    frontend:
        build:
            target: dist
        restart: always
        volumes:
            - ./frontend/nginx.conf:/etc/nginx/conf.d/default.conf:ro
        ports:
            - "80:80"

volumes:
    db_data:
