services:
    db:

    backend:
        ports:
            - "3001:3001"

    frontend:
        build:
            target: dev
        ports:
            - "8080:5173"
        volumes:
            - ./frontend:/app           # Maps your code
            - /app/node_modules         # "Anonymous volume" to protect container modules

volumes:
    db_data:
