@use "../../../static/styles/variables";

#loginContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	min-height: calc(100vh - 2 * variables.$NAVBAR_HEIGHT);
	width: 100%;

	background-color: variables.$VIOLET_BACKGROUND;


	#loginForm {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-direction: column;

		padding: min(5vw,2em);
		padding-bottom: 1em;
		box-sizing: border-box;


		$shadow_color: rgba(0, 0, 0, 0.283);
		// box-shadow: 1px 1px 20px 1px $shadow_color;

		max-width: 30em;
		width: 90vw;
		// height: 50vh;

		// color: darkslategrey;
		color: darkslategrey;
		background-color: none;

		input {
			box-sizing: border-box;
			margin-bottom: 1.25em;
			margin-top: 0.25em;
			padding: 0.35em;
			width: 100%;

			border: 2px solid rgb(198, 198, 198);
			border-radius: 0.1em;
			// border-color: gray;
		}
		input:focus {
			outline: none;
			border: 4px solid variables.$VIOLET;
		}

		#loginButton {
			margin-top: 1.25em;
			margin-bottom: 0.7em;

			padding: 0.5em;

			max-width: 11em;

			border: none;
			border-radius: 3em;

			font-size: 95%;
			
			color: white;
			background-color: variables.$VIOLET;
		}
		#loginButton:hover {
			cursor: pointer;
			background-color: variables.$VIOLET_DARK;
		}
	}

	#toSignup {
		margin-top: min(2vh, 2.5em);
		margin-bottom: min(5vh, 2.5em);

		color: black;

		a {
			font-weight: bold;

			color: variables.$VIOLET;
		}
	}
}
