$shadow_color: rgba(0, 0, 0, 0.159);

#friends {
    
    // background-color: rgb(242, 242, 242);
    // box-shadow: 1px 1px 26px 1px $shadow_color;
    // -webkit-box-shadow: 1px 1px 26px 1px $shadow_color;
    // -moz-box-shadow: 1px 1px 26px 1px $shadow_color;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;

    padding: 1em;

    width: calc(1/3*0.8 * 100vw);
    min-width: 40em;
    max-width: 45em;

    h2 {
        font-size: 1.5em;
        margin-bottom: 0.5em;
    }

    .friendList {

        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        // flex-wrap: wrap;
        justify-content: center;
        align-items:stretch;

        width: 100%;

        padding: 0em;


        // background-color: darkgray;


        .friendListItem {

            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: stretch;

            box-sizing: border-box;
            width: auto;
            padding: 1em;

            margin-bottom: 1em;


            background-color: white;  
            
            border-radius: 10px;
            box-shadow: 1px 1px 10px 1px $shadow_color;
            // -webkit-box-shadow: 1px 1px 26px 1px $shadow_color;
            // -moz-box-shadow: 1px 1px 26px 1px $shadow_color;

            .nameAndPhoto {
                display: flex;
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;

                // background-color: red;

                height: 100%;

                a {
                    text-decoration: none;
                    color: black;
                    text-align: center;
                }

                .profile_photo {
                    display: flex;
                    background-color: lightgray;
                    justify-content: center;
                    align-items: center;

                    $imgSize: 7.5em;
                    width: $imgSize;
                    height: $imgSize;

                    margin-bottom: 0.75em;

                    border-radius: 100%;

                    font-family: cursive;
                    
                    
                }

                .name {
                    font-weight: bold;
                    // margin-bottom: 1em;
                }
            } 

            .previousTimes {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-evenly;
                align-items: center;

                margin-left: 1em;
                margin-right: 1em;

                width: 100%;
                min-width: 15em;

                // background-color: green;

                .lastTime {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    // background-color: red;

                    .label {
                        font-weight: bold;
                    }

                    .daysAgo {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                    }

                    .numberOfDays {
                        // color: pink;

                        font-weight: 800;
                        font-size: 300%;
                        
                        margin-top: 0.275em;
                        margin-bottom: 0.025em;
                    }

                }

                #friendLastInteraction .numberOfDays {
                    color: turquoise;
                }

                #friendLastMeetup .numberOfDays {
                    color: red;
                }
            }

            .deleteAndOptionalAlert {

                box-sizing: border-box;

                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                max-width: 45%;
                // padding: 2em;

                // background-color: blue;

                .alert {
                    box-sizing: border-box;
                    padding: 1em;
                    // padding-bottom: 0.5em;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    $size: 1em;
                    width: auto;
                    min-width: 12.5em;
                    height: 6.9em; 

                    // margin-bottom: 1em;

                    border-radius: 7.5px;

                    // $alert_shadow_color: rgba(4, 4, 4, 0.071);
                    // border-radius: 10px;
                    // box-shadow: 1px 1px 26px 1px $alert_shadow_color;
                    // -webkit-box-shadow: 1px 1px 26px 1px $alert_shadow_color;
                    // -moz-box-shadow: 1px 1px 26px 1px $alert_shadow_color;
                    border: 1px solid lightgray;

                    color: gray;
                    font-style: italic;
                    user-select: none;
                }

                .deleteFriend {
                    // margin: 1em;
                    margin-top: 0.5em;

                    padding: 0.25em;
                    padding-left: 2em;
                    padding-right: 2em;

                    border-radius: 5px;
                    border: 1px solid lightgray;
                }
            }

        }

        

    }
}
