.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  padding-top: 1em;
  min-height: 80vh;
}

#home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  position: absolute;
  top: 4em;
  width: 100%;
  min-height: calc(100% - 4em - 20px);
  padding-top: 4em;
}
#home .section {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  max-width: 1000px;
  width: 40%;
  min-width: 300px;
  max-height: none;
  min-height: 80%;
  margin: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
#home hr {
  margin-top: 0em;
  margin-bottom: 1.75em;
  width: 75%;
  color: lightgray;
}
#home #ToContactSection #nobody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5em;
}
#home #ToContactSection #nobody .text {
  font-size: 2em;
  font-weight: 100;
}
#home #ToContactSection #nobody .emoji {
  font-size: 3em;
}
#home #ToContactSection .toAddFriend {
  font-size: 1.25em;
}
#home #ToContactSection .mostUrgentContact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#home #ToContactSection .mostUrgentContact .prompt {
  font-size: 1.5em;
  margin-bottom: 1em;
  background: none;
}
#home #ToContactSection .mostUrgentContact .contactCard {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 45em;
  padding: 2em;
  background-color: white;
  border: 0px solid none;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.312);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.312);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.312);
}
#home #ToContactSection .mostUrgentContact .contactCard img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: none;
  min-width: 150px;
  width: 150px;
  min-height: 150px;
  height: 150px;
  margin-right: 1.75em;
  border-radius: 20px;
  font-family: cursive;
  background-color: lightgrey;
}
#home #ToContactSection .mostUrgentContact .contactCard .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}
#home #ToContactSection .mostUrgentContact .contactCard .text .heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  font-size: 2em;
}
#home #ToContactSection .mostUrgentContact .contactCard .text .heading .name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  flex-wrap: wrap;
  max-width: 50%;
  font-weight: bold;
  padding-top: 0.25em;
}
#home #ToContactSection .mostUrgentContact .contactCard .text .heading .friendship_tier {
  font-size: 0.75em;
  font-variant: small-caps;
  text-wrap: nowrap;
  font-weight: normal;
}
#home #ToContactSection .mostUrgentContact .contactCard .text .body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#home #ToContactSection .mostUrgentContact .contactCard .text .body .dayssincelastcontact {
  display: inline-flex;
  flex-direction: column;
  font-size: 1.25em;
}
#home #ToContactSection .mostUrgentContact .contactCard .text .body .dayssincelastcontact .timespan {
  font-size: 1.5em;
  font-weight: normal;
}
#home #ToContactSection .mostUrgentContact .contactCard .text .body .dayssincelastcontact .ago {
  font-size: 1em;
  font-weight: lighter;
}
#home #ToContactSection .mostUrgentContact .contactCard .text .body .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-radius: 20px;
  border: none;
  padding: 1em;
  font-size: 1em;
}
#home #ToContactSection .contactCard,
#home #ToContactSection .lessUrgent {
  display: flex;
  flex-direction: row;
  width: 60%;
  max-width: 45em;
  padding: 1em;
  margin-bottom: 2em;
  background-color: white;
  border: 0px solid none;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.312);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.312);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.312);
}
#home #ToContactSection .contactCard img,
#home #ToContactSection .lessUrgent img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: none;
  min-width: 100px;
  min-height: 100px;
  margin-right: 1.5em;
  border-radius: 20px;
  font-family: cursive;
  text-align: center;
  background-color: lightgrey;
}
#home #ToContactSection .contactCard .text,
#home #ToContactSection .lessUrgent .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}
#home #ToContactSection .contactCard .text .heading,
#home #ToContactSection .lessUrgent .text .heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  font-size: 1.75em;
}
#home #ToContactSection .contactCard .text .heading .name,
#home #ToContactSection .lessUrgent .text .heading .name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  flex-wrap: wrap;
  max-width: 50%;
  font-weight: bolder;
  padding-top: 0.25em;
}
#home #ToContactSection .contactCard .text .heading .friendship_tier,
#home #ToContactSection .lessUrgent .text .heading .friendship_tier {
  font-size: 0.8em;
  font-variant: small-caps;
  text-wrap: nowrap;
  font-weight: normal;
}
#home #ToContactSection .contactCard .text .body,
#home #ToContactSection .lessUrgent .text .body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#home #ToContactSection .contactCard .text .body .dayssincelastcontact,
#home #ToContactSection .lessUrgent .text .body .dayssincelastcontact {
  display: inline-flex;
  flex-direction: column;
  font-size: 1.25em;
}
#home #ToContactSection .contactCard .text .body .dayssincelastcontact .timespan,
#home #ToContactSection .lessUrgent .text .body .dayssincelastcontact .timespan {
  font-size: 1.2em;
  font-weight: normal;
}
#home #ToContactSection .contactCard .text .body .dayssincelastcontact .ago,
#home #ToContactSection .lessUrgent .text .body .dayssincelastcontact .ago {
  font-size: 1em;
  font-weight: lighter;
}
#home #ToContactSection .contactCard .text .body .contact,
#home #ToContactSection .lessUrgent .text .body .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  border-radius: 20px;
  border: none;
  padding: 1em;
  font-size: 1em;
}
#home #ActivitySection {
  background-color: orange;
}
#home #ActivitySection .title {
  font-size: 1.5em;
}/*# sourceMappingURL=Home.css.map */