#homeContent {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;

	min-height: 50vh;
	width: 100%;

	padding-top: min(5.5vh, 30px);

	// background-color: green;

	h1 {
		font-size: 2rem;

		margin-bottom: min(3vh, 20px);
	}

	#homeSections {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: stretch;
		flex-wrap: wrap;

		width: 100%;

		padding-left: min(5vw, 20px);
		padding-right: min(5vw, 20px);
		box-sizing: border-box;

		// background-color: orange;

		.homeSection {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			min-width: 500px;
			width: 50vw;
			height: 100%;
		}

		#urgentFriendsSection {
			// background-color: yellow;

			h2 {
				margin-bottom: 1.25rem;

				text-align: center;

				font-size: 1.5rem;
				font-weight: normal;
			}

			#urgentCards {
				display: flex;
				flex-direction: column;
				justify-content: start;
				align-content: center;

				// background-color: bisque;

				.urgent_friend {
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: stretch;

					width: 100%;

					margin-bottom: min(22.5px, max(3vh, 1rem));

					padding: 1rem;
					box-sizing: border-box;

					box-shadow: 0px 0px min(2vw, 5px) 0px rgb(174, 174, 174);
					border-radius: 1rem;
					overflow: hidden;

					background-color: white;
					// background-color: pink;

					img {
						display: flex;
						flex-direction: row;
						justify-content: center;
						align-items: center;
						align-self: stretch;
						justify-self: stretchs;

						padding: 1rem;
						box-sizing: border-box;

						$DIMENSION: 6rem;
						min-height: $DIMENSION;
						min-width: $DIMENSION;
						width: $DIMENSION;

						border-radius: 1rem;
						box-shadow: 0px 0px 15px 0px rgb(130, 130, 130) inset;

						text-align: center;
						text-wrap: wrap;
						overflow: hidden;

						font-family: cursive;

						background-color: lightgray;
					}
					@media screen and (max-width: 400px) {
						img {
							display: none;
							// background-color: red;
						}
					}

					.body {
						display: flex;
						flex-direction: column;
						justify-content: start;
						align-items: stretch;

						width: 100%;
						max-width: 20rem;
						overflow-wrap: break-word;

						padding-left: 0.75rem;

						// background-color: violet;

						.text {
							display: flex;
							flex-direction: column;
							justify-content: space-between;

							width: 100%;
							height: 100%;

							text-wrap: wrap;
							word-wrap: break-word;
							overflow-wrap: break-word;
							word-break: break-all;
							// background-color: teal;

							.name {
								text-decoration: none;

								font-size: 1.33rem;

								// background-color: magenta;
							}

							.under_name {
								display: inline-flex;
								flex-direction: row;
								justify-content: center;
								align-items: center;

								text-align: center;

								margin-top: 0.66rem;
								margin-bottom: 0.75rem;

								// background-color: yellow;

								.time_ago {
									margin-left: 0.33rem;
								}
							}
							.birthday {
								flex-direction: column;

								.emoji {
									margin-top: 0.5rem;
								}
							}
						}

						.buttons {
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							align-items: center;

							width: 100%;

							// background-color: red;

							button {
								padding: 0.25rem;
								padding-left: 0.75rem;
								padding-right: 0.75rem;

								border: none;
								border-radius: 0.25rem;
							}
							button:hover {
								cursor: pointer;
							}

							.mark_completed {
								margin-left: 0.5rem;
							}
						}
					}
					@media screen and (max-width: 400px) {
						.body {
							padding-left: 0;
						}
					}
				}
			}
		}

		#upcomingSection {
			// background-color: greenyellow;
		}
	}
}
