@use "../../../../static/styles/variables";

#homeContent {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;

	min-height: calc(100vh - 2 * variables.$NAVBAR_HEIGHT);
	width: 100%;

	padding-top: min(5.5vh, 30px);
	box-sizing: border-box;

	background-color: variables.$VIOLET_BACKGROUND;

	h1 {
		font-size: 2rem;

		margin-bottom: min(3vh, 20px);
	}

	#homeSections {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: stretch;
		flex-wrap: wrap;

		width: 100%;

		.homeSection {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			min-width: 500px;
			width: 100%;
			max-width: 49vw;

			height: 100%;

			// border: 1px solid black;
			// background-color: orange;

			h2 {
				margin-bottom: 1.25rem;

				text-align: center;

				font-size: 1.5rem;
				font-weight: normal;
			}
		}

		#urgentFriendsSection {
			display: flex;
			flex-direction: column;
			justify-content: center;

			// background-color: yellow;

			#urgentCards {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: stretch;

				width: 100%;

				// background-color: bisque;

				.urgent_friend {
					display: flex;
					flex-direction: row;
					align-items: stretch;

					width: 100%;
					max-width: 47.5rem;

					margin-left: auto;
					margin-right: auto;
					margin-bottom: min(22.5px, max(3vh, 1rem));

					padding: 1rem;
					box-sizing: border-box;

					overflow: hidden;

					background-color: white;
					// background-color: pink;

					a {
						display: flex;
						align-self: stretch;

						text-decoration: none;

						img {
							display: flex;
							flex-direction: row;
							justify-content: center;
							align-items: center;
							align-self: stretch;

							padding: 1rem;
							box-sizing: border-box;

							$DIMENSION: 8rem;
							height: $DIMENSION;
							width: $DIMENSION;
							aspect-ratio: 1 / 1;

							text-align: center;
							text-wrap: wrap;
							overflow: hidden;
							word-break: normal;

							text-decoration: none;

							font-family: cursive;

							color: gray;
							background-color: variables.$LIGHT_GRAY;
						}
						@media screen and (max-width: 400px) {
							img {
								display: none;
								// background-color: red;
							}
						}
					}

					.body {
						display: flex;
						flex-direction: column;
						justify-content: start;
						align-items: stretch;

						width: 100%;
						overflow-wrap: break-word;

						padding-left: 0.75rem;

						// background-color: violet;

						.text {
							display: flex;
							flex-direction: column;
							justify-content: space-between;

							width: 100%;
							height: 100%;

							text-wrap: wrap;
							word-wrap: break-word;
							overflow-wrap: break-word;
							word-break: break-all;

							// background-color: teal;

							.name_and_relationship_tier {
								display: flex;
								flex-direction: row;
								justify-content: space-between;
								align-items: start;

								// background-color: orange;

								.name {
									text-decoration: none;

									font-size: 1.33rem;
									font-weight: bold;

									color: black;
									// background-color: magenta;
								}

								.relationship_icon {
									display: flex;
									flex-direction: column;
									justify-content: start;
									align-items: end;

									margin-top: -0.33rem;
									margin-left: 0.75rem;

									font-size: 1.5em;

									user-select: none;

									// background-color: red;
								}
							}

							.under_name {
								display: inline-flex;
								flex-direction: row;
								justify-content: center;
								align-items: center;

								text-align: center;

								height: 100%;

								// background-color: yellow;

								.time_ago {
									margin-left: 0.33rem;
								}
							}
							.birthday {
								flex-direction: column;

								.emoji {
									margin-top: 0.5rem;
								}
							}
						}

						.buttons {
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							align-items: center;

							width: 100%;

							margin-top: 0.66rem;

							// background-color: red;

							button {
								padding: 0.25rem;
								padding-left: 0.75rem;
								padding-right: 0.75rem;

								border: none;

								color: white;
								background-color: variables.$DARK_GRAY;
							}
							button:hover {
								cursor: pointer;
								background-color: gray;
							}

							.mark_completed {
								width: 100%;

								margin-left: 0.5rem;

								background-color: variables.$VIOLET;
							}
							.mark_completed:hover {
								background-color: variables.$VIOLET_DARK;
							}
						}
					}
					@media screen and (max-width: 400px) {
						.body {
							padding-left: 0;
						}
					}
				}
			}
		}

		#upcomingSection {
			background-color: greenyellow;

			$COLUMN_BORDER_WIDTH: 3px;

			#calendar {
				display: flex;
				flex-direction: row;
				justify-content: stretch;
				align-items: stretch;

				width: 100%;
				max-width: 47.5rem;
				height: 20rem;

				background-color: turquoise;

				.column {
					display: flex;
					flex-direction: column;
					justify-content: stretch;
					align-items: center;

					width: 100%;

					border: 1px solid black;
					border: none;
					box-sizing: border-box;

					background-color: cyan;

					.day_header {
						display: flex;
						justify-content: center;
						align-items: center;

						width: 100%;
						height: 25%;
						max-height: 2.5em;

						background-color: variables.$LIGHT_GRAY;
						// background-color: orange;
					}

					.body {
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						align-items: center;

						width: 100%;
						height: 100%;

						background-color: white;

						.icons {
							display: flex;
							flex-direction: column;
							justify-content: space-evenly;
							align-items: center;
							overflow: hidden;
							word-break: break-all;

							height: 100%;

							padding-top: 0.5rem;
							padding-bottom: 0.5rem;
							box-sizing: border-box;

							// background-color: red;

							.icon {
								display: flex;
								align-items: center;
								overflow: hidden;

								width: 50%;
								aspect-ratio: 1 / 1;

								box-sizing: border-box;

								text-align: center;

								border: 2px solid blue;
								border: none;
								border-radius: 100%;

								background-color: variables.$LIGHT_GRAY;
							}
						}

						.emoji {
							display: flex;
							justify-content: center;
							align-items: center;

							width: 100%;
							height: 1.5em;

							padding-bottom: 0.25rem;

							font-size: 1.5em;

							// background-color: red;
						}
					}
				}
				.column:hover {
					box-sizing: content-box;

					border: $COLUMN_BORDER_WIDTH solid variables.$DARK_GRAY;

					cursor: pointer;
				}

				.selected {
					box-sizing: border-box;

					border: $COLUMN_BORDER_WIDTH solid variables.$VIOLET;

					.day_header {
						background-color: variables.$YELLOW;
					}
				}
				.selected:hover {
					cursor: auto;
				}
			}
		}
	}
}
