#homeContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	min-height: 50vh;
	width: 100%;

	// background-color: green;

	h1 {
		font-size: 2rem;

		margin-bottom: 3.5rem;
	}

	#homeSections {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: stretch;

		width: 100%;

		// background-color: orange;

		#urgentFriendsSection {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			width: 100%;

			// background-color: yellow;

			h2 {
				margin-bottom: 1.25rem;

				font-size: 1.5rem;
				font-weight: normal;
			}

			#urgentCards {
				display: flex;
				flex-direction: column;
				justify-content: start;
				align-content: center;

				min-width: 25rem;

				// background-color: bisque;

				.urgent_friend {
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: stretch;

					padding: 1rem;

					box-shadow: 0px 0px 10px 0px rgb(174, 174, 174);
					border-radius: 1rem;
					overflow: hidden;

					background-color: white;
					// background-color: pink;

					img {
						display: flex;
						flex-direction: row;
						justify-content: center;
						align-items: center;

						padding: 1rem;
						box-sizing: border-box;

						$DIMENSION: 6rem;
						min-height: $DIMENSION;
						height: $DIMENSION;
						min-width: $DIMENSION;
						width: $DIMENSION;

						border-radius: 1rem;
						box-shadow: 0px 0px 15px 0px rgb(130, 130, 130) inset;

						text-align: center;
						text-wrap: wrap;
						overflow: hidden;

						font-family: cursive;

						background-color: lightgray;
					}

					.body {
						display: flex;
						flex-direction: column;
						justify-content: start;
						align-items: stretch;

						width: 100%;

						padding-left: 0.75rem;

						// background-color: violet;

						.text {
							display: flex;
							flex-direction: column;

							height: 100%;

							.name {
								text-decoration: none;

								font-size: 1.33rem;

								// background-color: magenta;
							}

							.under_name {
								display: flex;
								flex-direction: row;
								justify-content: center;
								align-items: center;

								height: 100%;

								margin: 0.5rem;
								margin-left: 0;
								margin-right: 0;

								text-align: center;

								// background-color: yellow;

								.time_ago {
									margin-left: 0.5rem;
								}
							}

							// background-color: purple;
						}

						.buttons {
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							align-items: center;

							width: 100%;

							// background-color: red;

							button {
								padding: 0.25rem;
								padding-left: 0.75rem;
								padding-right: 0.75rem;

								border: none;
								border-radius: 0.25rem;
							}
							button:hover {
								cursor: pointer;
							}
						}
					}
				}
			}
		}
	}
}
