$NAVBAR_HEIGHT: 4em;
$FOOTER_HEIGHT: 4em;

$BORDER-RADIUS: 20px;

$SHADOW_COLOR: rgba(0, 0, 0, 0.312);

.content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;

	padding-top: 1em;
	min-height: 80vh;

	// background-color: red;
}

#home {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;

	position: absolute;
	top: $NAVBAR_HEIGHT;
	width: 100%;
	min-height: calc(100% - $FOOTER_HEIGHT - 20px);
	padding-top: calc($NAVBAR_HEIGHT);
	// background-color: lightyellow;
	.section {
		display: flex;
		flex-direction: column;
		justify-content: baseline;
		align-items: center;

		max-width: 1000px;
		width: 40%;
		min-width: 300px;

		max-height: none;
		min-height: 80%;

		margin: 1em;
		padding-left: 1em;
		padding-right: 1em;
	}

	hr {
		margin-top: 0em;
		margin-bottom: 1.75em;

		width: 75%;
		color: lightgray;
	}

	#ToContactSection {
		// background-color: pink;

		#nobody {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			margin-bottom: 2.5em;

			.text {
				font-size: 2em;
				font-weight: 100;
			}

			.emoji {
				font-size: 3em;
			}

			// background-color: red;
		}

		.toAddFriend {
			font-size: 1.25em;
		}

		.mostUrgentContact {
			// background-color: lightcoral;

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			width: 100%;

			.prompt {
				font-size: 1.5em;

				margin-bottom: 1em;

				background: none;
			}

			.contactCard {
				display: flex;
				flex-direction: row;

				width: 100%;
				max-width: 45em;

				padding: 2em;
				// padding-top: 2em;

				background-color: white;
				border: 0px solid none;
				border-radius: $BORDER-RADIUS;
				box-shadow: 0px 0px 20px 0px $SHADOW_COLOR;
				-webkit-box-shadow: 0px 0px 20px 0px $SHADOW_COLOR;
				-moz-box-shadow: 0px 0px 20px 0px $SHADOW_COLOR;

				img {
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					flex-shrink: none;

					$WIDTH: 150px;
					$HEIGHT: 150px;
					min-width: $WIDTH;
					width: $WIDTH;
					min-height: $HEIGHT;
					height: $HEIGHT;

					margin-right: 1.75em;

					border-radius: $BORDER-RADIUS;

					font-family: cursive;

					background-color: lightgrey;
				}

				.text {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: baseline;
					// background-color: greenyellow;
					width: 100%;

					.heading {
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						align-items: center;
						width: 100%;
						flex-wrap: wrap;

						// background-color: brown;

						font-size: 2em;

						.name {
							display: flex;
							flex-direction: row;
							justify-content: center;
							align-items: center;
							font-size: 1em;

							flex-wrap: wrap;
							max-width: 50%;

							font-weight: bold;

							padding-top: 0.25em;

							// background-color: violet;
						}

						.friendship_tier {
							// background-color: burlywood;

							font-size: 0.75em;
							font-variant: small-caps;
							text-wrap: nowrap;

							font-weight: normal;
						}
					}

					.body {
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						align-items: center;

						width: 100%;
						// background-color: gainsboro;
						.dayssincelastcontact {
							display: inline-flex;
							flex-direction: column;

							font-size: 1.25em;

							.timespan {
								font-size: 1.5em;
								font-weight: normal;
								// background-color: orange;
							}

							.ago {
								font-size: 1em;
								font-weight: lighter;
								// background-color: fuchsia;
							}
						}

						.contact {
							display: flex;
							justify-content: center;
							align-items: center;

							width: 50%;

							border-radius: $BORDER-RADIUS;
							border: none;

							padding: 1em;
							font-size: 1em;
						}
					}
				}
			}
		}

		.contactCard,
		.lessUrgent {
			display: flex;
			flex-direction: row;

			width: 60%;
			max-width: 45em;

			padding: 1em;
			// padding-top: 2em;
			margin-bottom: 2em;

			background-color: white;
			border: 0px solid none;
			border-radius: $BORDER-RADIUS;
			box-shadow: 0px 0px 20px 0px $SHADOW_COLOR;
			-webkit-box-shadow: 0px 0px 20px 0px $SHADOW_COLOR;
			-moz-box-shadow: 0px 0px 20px 0px $SHADOW_COLOR;

			img {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				flex-shrink: none;

				$DIMENSIONS: 100px;
				$WIDTH: $DIMENSIONS;
				$HEIGHT: $DIMENSIONS;
				min-width: $WIDTH;
				min-height: $HEIGHT;

				margin-right: 1.5em;

				border-radius: $BORDER-RADIUS;

				font-family: cursive;
				text-align: center;

				background-color: lightgrey;
			}

			.text {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: baseline;
				// background-color: greenyellow;
				width: 100%;

				.heading {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					width: 100%;
					flex-wrap: wrap;

					// background-color: brown;

					font-size: 1.75em;

					.name {
						display: flex;
						flex-direction: row;
						justify-content: center;
						align-items: center;
						font-size: 1em;

						flex-wrap: wrap;
						max-width: 50%;

						font-weight: bolder;

						padding-top: 0.25em;

						// background-color: violet;
					}

					.friendship_tier {
						// background-color: burlywood;

						font-size: 0.8em;
						font-variant: small-caps;
						text-wrap: nowrap;

						font-weight: normal;
					}
				}

				.body {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;

					width: 100%;
					// background-color: gainsboro;
					.dayssincelastcontact {
						display: inline-flex;
						flex-direction: column;

						font-size: 1.25em;

						.timespan {
							font-size: 1.2em;
							font-weight: normal;
							// background-color: orange;
						}

						.ago {
							font-size: 1em;
							font-weight: lighter;
							// background-color: fuchsia;
						}
					}

					.contact {
						display: flex;
						justify-content: center;
						align-items: center;

						width: 40%;

						border-radius: $BORDER-RADIUS;
						border: none;

						padding: 1em;
						font-size: 1em;
					}
				}
			}
		}
	}

	#ActivitySection {
		background-color: orange;
		.title {
			font-size: 1.5em;
		}

		// .react-calendar {
		// 	display: flex;
		// 	flex-direction: column;
		// 	justify-content: center;
		// 	align-items: center;

		// 	background-color: red;

		// 	.react-calendar__navigation {
		// 		display: flex;
		// 		flex-direction: row;
		// 		justify-content: space-between;
		// 		align-items: center;

		// 		background-color: blue;
		// 		width: 100%;
		// 		padding-top: 0.25rem;
		// 		padding-bottom: 0.25rem;

		// 		.react-calendar__navigation__label {
		// 			display: flex;
		// 			flex-direction: row;
		// 			justify-content: center;
		// 			align-items: center;

		// 			background-color: greenyellow;

		// 			padding-left: 2.5rem;
		// 			padding-right: 2.5rem;
		// 			padding-top: 0.5rem;
		// 			padding-bottom: 0.5rem;
		// 			text-wrap: nowrap;

		// 			width: 100%;
		// 			height: 100%;

		// 			border: none;
		// 		}

		// 		.react-calendar__navigation__arrow {
		// 			background-color: red;

		// 			width: 2.5rem;
		// 			height: 2rem;

		// 			border: none;
		// 		}
		// 	}

		// 	.react-calendar__month-view__weekdays {
		// 		display: flex;
		// 		flex-direction: row;
		// 		justify-content: space-evenly;
		// 		align-items: center;
		// 		padding-top: 0.25rem;
		// 		padding-bottom: 0.25rem;

		// 		background-color: white;

		// 		.react-calendar__month-view__weekdays__weekday {
		// 			display: flex;
		// 			flex-direction: row;
		// 			justify-content: center;
		// 			align-items: center;

		// 			height: 100%;

		// 			padding-top: 0.5rem;
		// 			padding-bottom: 0.5rem;

		// 			border-radius: 0.33rem;

		// 			background-color: white;
		// 		}

		// 		.react-calendar__month-view__weekdays__weekday--current {
		// 			// background-color: rgb(237, 237, 237);
		// 		}
		// 	}

		// 	.react-calendar__month-view__days {
		// 		background-color: magenta;

		// 		.react-calendar__month-view__days__day {
		// 			display: flex;
		// 			flex-direction: column;
		// 			justify-content: center;
		// 			align-items: center;

		// 			min-height: 4rem;

		// 			background-color: pink;
		// 		}
		// 	}
		// }
	}
}
