@use "../../../static/styles/variables";

#loading {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: calc(100vh - 2 * variables.$NAVBAR_HEIGHT);

	font-size: 5vh;

	cursor: progress;
	user-select: none;

	color: lightgray;
	background-color: variables.$VIOLET_BACKGROUND;
}
