.friendList {
    background-color: red;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    padding: 0;
}

.friendListItem {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;

    padding: 1em;

    // background-color: red;  
    
    $shadow_color: rgba(0, 0, 0, 0.159);

    font-family: 'Helvetica', Arial, sans-serif;

    border-radius: 10px;
    box-shadow: 1px 1px 26px 1px $shadow_color;
    -webkit-box-shadow: 1px 1px 26px 1px $shadow_color;
    -moz-box-shadow: 1px 1px 26px 1px $shadow_color;

    .name {
        font-weight: bold;
        margin-bottom: 1em;
    }

    .friendLastInteraction {
        margin-bottom: 0.25em;
    }

    button {
        margin-top: 1em;
    }
}