.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	padding-left: min(2vw, 1.5rem);
	padding-right: 1.5rem;
	box-sizing: border-box;

	width: 100%;

	height: 8vh;
	max-height: 3rem;

	background-color: #e91d6f;

	.logo {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		color: white;
		// background-color: purple;

		font-size: min(150%, 1.75rem);
		font-weight: 600;
		text-decoration: none;
	}

	.links {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		// background-color: yellow;

		list-style-type: none;

		li {
			padding: 0.75rem;
			box-sizing: border-box;

			font-size: 1em;

			margin-right: 10%;

			// background-color: green;
			border-radius: 7.5px;

			a {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;

				color: white;
				font-size: 1.2rem;
				text-decoration: none;

				// background-color: aquamarine;
			}
		}
	}
	@media screen and (max-width: 750px) {
		.links {
			display: none;
		}
	}
}
