.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	padding-left: 1.5rem;
	padding-right: 1.5rem;
	box-sizing: border-box;

	height: 6vh;
	max-height: 4rem;

	background-color: #e91d6f;

	.logo {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		color: white;
		// background-color: purple;

		margin-top: -0.175rem;

		font-size: 1.75rem;
		font-weight: 600;
		text-decoration: none;
	}

	.links {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		// background-color: yellow;

		list-style-type: none;

		li {
			padding: 0.75rem;
			box-sizing: border-box;

			font-size: 1em;

			margin-right: 10%;

			// background-color: green;
			border-radius: 7.5px;

			a {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;

				color: white;
				font-size: 1.2rem;
				text-decoration: none;

				// background-color: aquamarine;
			}
		}
	}
}
