.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding-left: 1em;
    padding-right: 1em;

    height: 4em;

    background-color: none;

}
