@use "../../../../static/styles/variables";

.footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	height: variables.$NAVBAR_HEIGHT;
	width: 100%;

	padding: 0px;
	margin: 0px;
	box-sizing: border-box;

	text-align: center;

	color: white;
	background-color: none;
	background-color: rgb(21, 21, 21);

	a {
		color: variables.$YELLOW;
	}
}