.footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	height: 4em;
	width: 100%;

	padding: 0px;
	margin: 0px;

	text-align: center;

	background-color: none;
	// background-color: red;
}
