@use "../../../static/styles/variables";

#signupContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	min-height: calc(100vh - 2 * variables.$NAVBAR_HEIGHT);
	width: 100%;

	background-color: variables.$VIOLET;
}

#signupContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h1 {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 100%;

		font-size: 2.25rem;
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
		margin-bottom: -0.25rem;
		color: white;
		// background-color: variables.$YELLOW;
	}

	#signupForm {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-direction: column;

		padding-top: 2em;
		padding-bottom: 1em;
		box-sizing: border-box;

		background-color: white;
		color: darkslategrey;

		$shadow_color: rgba(0, 0, 0, 0.283);
		// box-shadow: 1px 1px 20px 1px $shadow_color;

		max-width: 30em;
		// height: 50vh;

		input {
			box-sizing: border-box;
			margin-bottom: 1.25em;
			margin-top: 0.25em;
			padding: 0.35em;
			width: 100%;

			border: 2px solid lightgray;
			border-radius: 0.1em;
			// border-color: gray;
		}

		#loginButton {
			margin-top: 1.25em;
			margin-bottom: 0.7em;

			padding: 0.5em;

			max-width: 11em;

			font-size: 95%;
		}

		#agreements {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: top;

			text-align: center;

			width: 100%;

			// background-color: red;

			#tos-agree {
				// background-color: blue;
				width: auto;
				height: auto;
				margin: 0;
			}

			label {
				display: inline;
				flex-wrap: wrap;

				width: 75%;
				text-wrap: wrap;

				margin-left: 0.5em;

				text-align: left;

				// background-color: pink;
			}
		}
	}

	#toLogin {
		margin-top: 2.5em;

		color: white;

		a {
			font-weight: bold;

			color: variables.$YELLOW;
		}
	}
}
