@use "../../../../static/styles/variables";

.footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	height: variables.$NAVBAR_HEIGHT;
	width: 100%;

	margin: 0px;

	padding: 0px;
	padding-left: 1rem;
	padding-right: 1rem;
	box-sizing: border-box;

	text-align: center;

	color: white;
	background-color: none;
	background-color: variables.$FOOTER_DARK_GRAY;

	a {
		color: variables.$YELLOW;
	}
}
