@use '../../../../static/styles/variables';

.footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	height: variables.$NAVBAR_HEIGHT;
	width: 100%;

	margin: 0px;

	padding: 0rem;
	padding-bottom: 0.25rem;
	padding-left: variables.$SCREEN_HORIZONTAL_PADDING;
	padding-right: variables.$SCREEN_HORIZONTAL_PADDING;
	box-sizing: border-box;

	text-align: center;

	color: white;
	background-color: none;
	background-color: variables.$FOOTER_DARK_GRAY;

	.copyrightStatement {
		a {
			color: variables.$YELLOW;

			font-family: inherit;
		}

		.year {
			font-size: 0.975em;
		}
	}
}
