@use "../../../../static/styles/variables";
@use "sass:math";

#interactionStandalonePageContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding-top: 1rem;
	padding-bottom: 1rem;
	box-sizing: border-box;

	width: 100%;

	background-color: variables.$VIOLET_BACKGROUND;

	#interactionCard {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		padding: 1.5rem;
		box-sizing: border-box;

		background-color: white;

		.name_and_subtitle {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;

			width: 100%;

			font-size: 1.5rem;

			// background-color: orange;

			.name {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;

				width: 100%;

				margin-bottom: 0.5em;

				font-size: inherit;

				// background-color: red;

				h1,
				.time_ago {
					font-size: inherit;
					font-weight: bold;
				}

				.time_ago {
					margin-left: 0.5rem;

					font-size: 0.9em;

					color: gray;
				}
			}

			.date {
				width: 100%;

				margin-bottom: 0.75em;

				// background-color: yellow;

				.emoji {
					display: inline-flex;
					width: auto;
					margin-right: 0.66rem;
				}
			}

			.location {
				width: 100%;
				// background-color: gold;

				.emoji {
					margin-right: 0.66rem;
				}
			}
		}

		.attendees {
			margin-top: 1.75rem;
			// margin-bottom: 1.75rem;

			width: 100%;

			h2 {
				margin-bottom: 0.5rem;

				font-size: 1.25rem;
			}

			.attendee_list {
				margin-left: 1rem;

				// background-color: orange;
				.attendee {
					display: flex;
					flex-direction: row;
					justify-content: flex-start;
					align-items: center;

					margin-bottom: 0.5rem;

					text-wrap: wrap;
					word-break: break-all;

					// background-color: yellow;

					.emoji {
						display: flex;
						justify-content: center;
						align-items: center;

						width: 1.75rem;
						aspect-ratio: 1 / 1;

						margin-right: 0.25rem;

						// background-color: yellowgreen;
					}

					.name {
						padding: 0.5rem;

						border-radius: 5px;

						text-decoration: none;

						color: black;
						// background-color: orangered;
					}
					.name:hover {
						background-color: rgb(234, 234, 234);
					}
				}
			}
		}

		.buttons {
			display: flex;
			display: none;
			flex-direction: row;
			justify-content: space-evenly;
			align-items: center;

			width: 100%;

			// background-color: red;

			button {
				width: 100%;
				height: 2rem;

				border-radius: 5px;

				border: none;
			}
			button:hover {
				cursor: pointer;
			}

			.edit {
				border-bottom-left-radius: 0px;

				color: black;
				background-color: lightgray;
			}
			.edit:hover {
				color: white;
				background-color: rgb(171, 171, 171);
			}

			.delete {
				margin-left: 1rem;

				border-bottom-right-radius: 0px;

				color: white;
				background-color: variables.$DELETE_RED;
			}
			.delete:hover {
				background-color: red;
			}
		}
	}
}
