@use '../../../../static/styles/variables';

$COLUMN_BORDER_WIDTH: 3px;
$HOMEPAGE_SECTIONS_WRAP_SCREEN_WIDTH: calc(
	1000px + 2 * variables.$SCREEN_HORIZONTAL_PADDING
);

#homeContent {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;

	min-height: calc(100vh - 2 * variables.$NAVBAR_HEIGHT);
	width: 100%;

	padding: variables.$SCREEN_HORIZONTAL_PADDING;
	padding-top: min(5.5vh, 30px);
	padding-bottom: 0px;
	box-sizing: border-box;

	text-align: center;

	font-size: 1rem;
	font-family: 'Inter';

	background-color: variables.$VIOLET_BACKGROUND;

	h1 {
		font-size: 2rem;

		margin-bottom: min(5vh, 3rem);
	}

	#homeSections {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: stretch;
		flex-wrap: wrap;

		width: 100%;

		// background-color: red;

		.homeSection {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			// min-width: 500px;
			width: 100%;
			height: 100%;

			box-sizing: border-box;

			margin-bottom: 1.25rem;

			// border: 1px solid black;
			// background-color: orange;

			h2 {
				margin-bottom: 1.25rem;

				text-align: center;

				font-size: 1.25rem;
				font-weight: normal;
			}
		}

		#urgentFriendsSection {
			display: flex;
			flex-direction: column;
			justify-content: center;

			margin-bottom: 3.5rem;

			// background-color: yellow;

			#noFriends {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				width: 100%;
				max-width: 25em;

				padding: 1rem;
				box-sizing: border-box;

				font-size: 1rem;

				background-color: white;

				.emoji {
					margin-bottom: 0.5rem;

					font-size: 2rem;

					user-select: none;
				}

				a {
					margin-top: 1rem;

					padding: 1.25rem;
					padding-top: 0.5rem;
					padding-bottom: 0.5rem;
					box-sizing: border-box;

					border-radius: 5px;

					text-decoration: none;

					color: white;
					background-color: variables.$VIOLET;
				}
				a:hover {
					background-color: variables.$VIOLET_DARK;
				}
				a:active {
					color: lightgray;
				}
			}

			#urgentCards {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: stretch;

				width: 100%;
				max-width: 30rem;

				// background-color: bisque;

				.urgent_friend {
					$PADDING: 0.5rem;

					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: stretch;

					margin-bottom: 1rem;

					padding: $PADDING;
					box-sizing: border-box;

					font-size: inherit;

					background-color: white;

					.image_a {
						display: flex;
						justify-content: center;
						align-items: center;

						text-decoration: none;

						// background-color: yellow;

						img {
							display: flex;
							justify-content: center;
							align-items: center;

							width: auto;
							height: 3.25rem;
							aspect-ratio: 1 / 1;

							margin-right: $PADDING;

							border-radius: 100%;

							font-size: 1.66rem;
							text-decoration: none;
							user-select: none;

							background-color: #d9d9d9;
						}
					}

					.body {
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						align-items: stretch;

						width: 100%;

						// background-color: orange;

						.top {
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							align-items: flex-start;

							.name {
								text-align: left;
								text-wrap: wrap;
								word-break: break-all;

								font-size: 1.15em;
								font-weight: bold;
								text-decoration: none;

								color: black;
								background-color: none;
							}
							.relationship_tier_emoji {
								user-select: none;
							}
						}

						.middle {
							display: flex;
							flex-direction: row;
							justify-content: flex-start;
							align-items: flex-end;
							flex-wrap: wrap;

							text-wrap: none;
							word-break: keep-all;

							// background-color: orange;

							.time_ago {
								text-wrap: nowrap;
								word-break: keep-all;

								// background-color: red;
							}
						}

						.bottom {
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							align-items: flex-end;

							span {
								display: flex;
								flex-direction: row;
								justify-content: flex-start;
								align-items: flex-end;
								flex-wrap: wrap;

								text-wrap: none;
								word-break: keep-all;

								// background-color: orange;

								.time_ago {
									text-wrap: nowrap;
									word-break: keep-all;

									// background-color: red;
								}
							}

							button {
								padding-top: 0.3em;
								padding-bottom: 0.3em;
								box-sizing: border-box;

								width: 100%;
								max-width: min(25vw, 7.5em);

								margin-left: 1rem;

								border: none;

								font-size: 0.95em;

								color: white;
								background-color: variables.$VIOLET;
							}
							button:hover {
								cursor: pointer;

								background-color: variables.$VIOLET_DARK;
							}
							button:active {
								background-color: black;
							}
						}
					}
				}

				#mostUrgent {
					img {
						height: 6rem;

						font-size: 4.25rem;

						border-radius: 0;
					}

					.body {
						.bottom {
							justify-content: flex-end;
						}
					}
				}
			}

			#toFriends {
				margin-top: 0.5rem;

				padding: 1rem;
				padding-top: 0.5rem;
				padding-bottom: 0.5rem;
				box-sizing: border-box;

				border-radius: 0.33rem;
				text-decoration: none;

				color: rgb(72, 72, 72);
				background-color: variables.$YELLOW;
			}
			#toFriends:hover {
				color: black;
				background-color: variables.$YELLOW_DARK;
			}
			#toFriends:active {
				background-color: goldenrod;
			}
		}

		#upcomingSection {
			// background-color: greenyellow;

			.notification {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;

				min-width: 30rem;
				width: 100%;

				margin-bottom: 1rem;

				padding: 1rem;
				box-sizing: border-box;

				background-color: white;

				input {
					display: flex;

					width: 2rem;
					height: 2rem;

					margin-left: 0.25rem;
					margin-right: 1rem;

					border-radius: 100%;

					background-color: red;
				}

				.body {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: flex-start;

					width: 100%;

					.top {
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						align-items: flex-start;

						width: 100%;

						margin-bottom: 0.33em;

						.date {
							font-size: 1.15em;
							font-weight: bold;

							span {
								font-size: inherit;
								font-weight: normal;

								opacity: 50%;
							}
						}
					}
				}
			}

			#caughtUp {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				width: 100%;
				max-width: 25em;

				padding: 1rem;
				box-sizing: border-box;

				font-size: 1rem;

				background-color: white;

				span {
					font-size: 2rem;

					margin-bottom: 0.5rem;

					user-select: none;
				}
			}
		}

		@media screen and (min-width: $HOMEPAGE_SECTIONS_WRAP_SCREEN_WIDTH) {
			.homeSection {
				min-width: 30rem;
				width: calc(50% - 2 * variables.$SCREEN_HORIZONTAL_PADDING);

				margin-bottom: 0px;
			}
		}
	}
}
