@use "../../../../static/styles/variables";

$COLUMN_BORDER_WIDTH: 3px;
$HOMEPAGE_HORIZONTAL_PADDING: 1.5rem;
$HOMEPAGE_SECTIONS_WRAP_SCREEN_WIDTH: calc(
	1000px + 2 * $HOMEPAGE_HORIZONTAL_PADDING
);

#homeContent {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;

	min-height: calc(100vh - 2 * variables.$NAVBAR_HEIGHT);
	width: 100%;

	padding: $HOMEPAGE_HORIZONTAL_PADDING;
	padding-top: min(5.5vh, 30px);
	padding-bottom: 0px;
	box-sizing: border-box;

	text-align: center;

	font-size: 1rem;
	font-family: "Inter";

	background-color: variables.$VIOLET_BACKGROUND;

	h1 {
		font-size: 2rem;

		margin-bottom: min(5vh, 3rem);
	}

	#homeSections {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: stretch;
		flex-wrap: wrap;

		width: 100%;

		// background-color: red;

		.homeSection {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			// min-width: 500px;
			width: 100%;
			height: 100%;

			box-sizing: border-box;

			margin-bottom: 1.25rem;

			// border: 1px solid black;
			// background-color: orange;

			h2 {
				margin-bottom: 1.25rem;

				text-align: center;

				font-size: 1.5rem;
				font-weight: normal;
			}
		}

		#urgentFriendsSection {
			display: flex;
			flex-direction: column;
			justify-content: center;

			margin-bottom: 3.5rem;

			// background-color: yellow;

			#noFriends {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				height: 5em;
				width: 100%;
				max-width: 25em;

				padding: 1rem;
				padding-top: 4rem;
				padding-bottom: 4rem;
				box-sizing: border-box;

				font-size: 1rem;
				user-select: none;

				background-color: white;

				a {
					margin-top: 1rem;

					padding: 1.25rem;
					padding-top: 0.5rem;
					padding-bottom: 0.5rem;
					box-sizing: border-box;

					border-radius: 5px;

					text-decoration: none;

					color: black;
					background-color: variables.$YELLOW;
				}
			}

			#urgentCards {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: stretch;

				// width: 100%;
				min-width: 30rem;
				max-width: 100%;

				// background-color: bisque;

				.urgent_friend {
					$PADDING: 0.5rem;

					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: stretch;

					margin-bottom: 1rem;

					padding: $PADDING;
					box-sizing: border-box;

					font-size: inherit;

					background-color: white;

					.image_a {
						display: flex;
						justify-content: center;
						align-items: center;

						text-decoration: none;

						// background-color: yellow;

						img {
							display: flex;
							justify-content: center;
							align-items: center;

							width: auto;
							height: 3.25rem;
							aspect-ratio: 1 / 1;

							margin-right: $PADDING;

							border-radius: 100%;

							font-size: 1.66rem;
							text-decoration: none;
							user-select: none;

							background-color: #d9d9d9;
						}
					}

					.body {
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						align-items: stretch;

						width: 100%;

						// background-color: orange;

						.top {
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							align-items: flex-start;

							.name {
								text-align: left;
								text-wrap: wrap;
								word-break: break-all;

								font-size: 1.15em;
								font-weight: bold;
								text-decoration: none;

								color: black;
								background-color: none;
							}
							.relationship_tier_emoji {
								user-select: none;
							}
						}

						.bottom {
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							align-items: flex-end;

							span {
								flex-wrap: nowrap;

								text-wrap: none;
								word-break: keep-all;
							}

							button {
								padding-top: 0.3em;
								padding-bottom: 0.3em;
								box-sizing: border-box;

								width: 100%;
								max-width: 7.5em;

								border: none;

								font-size: 0.95em;

								color: white;
								background-color: #9f9f9f;
							}
							button:hover {
								cursor: pointer;

								background-color: #767676;
							}
							button:active {
								background-color: rgb(80, 80, 80);
							}
						}
					}
				}

				#mostUrgent {
					img {
						height: 6rem;

						font-size: 4.25rem;

						border-radius: 0;
					}

					.body {
						.bottom {
							button {
								max-width: none;
							}
						}
					}
				}
			}

			#toFriends {
				margin-top: 0.5rem;

				padding: 1rem;
				padding-top: 0.5rem;
				padding-bottom: 0.5rem;
				box-sizing: border-box;

				border-radius: 0.33rem;
				text-decoration: none;

				color: rgb(72, 72, 72);
				background-color: variables.$YELLOW;
			}
			#toFriends:hover {
				color: black;
			}
			#toFriends:active {
				background-color: variables.$YELLOW_DARK;
			}
		}

		#upcomingSection {
			// background-color: greenyellow;

			#calendar {
				display: flex;
				flex-direction: column;
				justify-content: stretch;
				align-items: stretch;

				width: 100%;
				max-width: 47.5rem;

				box-sizing: border-box;

				// background-color: turquoise;

				.column {
					display: flex;
					flex-direction: row;
					justify-content: stretch;
					align-items: stretch;
					align-self: stretch;

					width: 100%;
					min-height: 4.5rem;

					padding: 0px;
					box-sizing: border-box;

					border: 1px solid black;
					border: none;

					user-select: none;

					// background-color: cyan;

					.day_header {
						display: flex;
						flex-direction: row;
						justify-content: center;
						align-items: center;
						align-self: stretch;
						flex-shrink: 0;

						min-width: 2.5rem;
						width: 2.5em;

						background-color: variables.$LIGHT_GRAY;
						// background-color: orange;
					}

					.body {
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						align-items: center;

						flex: 1;

						background-color: white;

						.icons {
							display: flex;
							flex-direction: row;
							justify-content: flex-start;
							align-items: center;
							overflow: hidden;
							word-break: break-all;
							flex-wrap: wrap;

							height: 100%;
							width: 100%;

							padding-left: 0.5rem;
							padding-right: 0.5rem;
							box-sizing: border-box;

							// background-color: orange;

							.icon {
								display: flex;
								align-items: center;
								justify-content: center;
								overflow: hidden;

								width: 3rem;
								aspect-ratio: 1 / 1;

								margin: 0.25rem;
								box-sizing: border-box;

								border: 2px solid blue;
								border: none;
								border-radius: 100%;

								font-family: cursive;
								text-align: center;
								user-select: none;

								color: gray;
								background-color: variables.$LIGHT_GRAY;
							}
						}

						.emoji {
							display: flex;
							flex-direction: row;
							justify-content: center;
							align-items: center;

							width: 2.5rem;
							height: 100%;

							padding-left: 0.25rem;
							padding-right: 0.25rem;
							box-sizing: border-box;

							font-size: 1.5em;

							user-select: none;

							// background-color: red;
						}
					}
				}

				.selected {
					border: $COLUMN_BORDER_WIDTH solid variables.$VIOLET;

					.day_header {
						background-color: variables.$YELLOW;
					}
				}

				.selected:hover {
					border-color: variables.$VIOLET_DARK;
				}
			}
		}

		@media screen and (min-width: $HOMEPAGE_SECTIONS_WRAP_SCREEN_WIDTH) {
			.homeSection {
				min-width: 30rem;
				width: calc(50% - 2 * $HOMEPAGE_HORIZONTAL_PADDING);

				margin-bottom: 0px;
			}

			#upcomingSection {
				#calendar {
					flex-direction: row;

					min-height: 20rem;

					.column {
						flex-direction: column;

						height: auto;

						.day_header {
							width: 100%;
							height: 2.5em;
						}

						.body {
							flex-direction: column;

							.icons {
								flex-direction: column;
								justify-content: flex-start;
								flex-wrap: nowrap;

								padding-top: 0.5rem;
								padding-bottom: 0.5rem;

								.icon {
									flex-wrap: nowrap;

									width: clamp(3rem, 4vw, 4.75rem);
								}
							}
						}

						.emoji {
							max-height: 1.5em;
							max-width: max-content;
							padding-bottom: 0.25rem;
							padding-left: 0rem;

							width: 100%;
						}
					}

					.column:hover {
						border: $COLUMN_BORDER_WIDTH solid variables.$DARK_GRAY;

						cursor: pointer;
					}
				}
			}
		}
	}
}
