@use "../../../static/styles/variables";

#signupContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	min-height: calc(100vh - 2 * variables.$NAVBAR_HEIGHT);
	width: 100%;

	background-color: variables.$VIOLET_BACKGROUND;

	h1 {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 100%;

		font-size: 2.25rem;
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
		margin-bottom: -0.25rem;
		color: white;
		// background-color: variables.$YELLOW;
	}

	#signupForm {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-direction: column;

		padding-top: 2em;
		padding-bottom: 1em;
		box-sizing: border-box;

		// background-color: white;
		color: darkslategrey;

		$shadow_color: rgba(0, 0, 0, 0.283);
		// box-shadow: 1px 1px 20px 1px $shadow_color;

		max-width: 30em;
		width: 90vw;
		// height: 50vh;

		input {
			box-sizing: border-box;
			margin-bottom: 1.25em;
			margin-top: 0.25em;
			padding: 0.35em;
			width: 100%;

			border: 2px solid rgb(198, 198, 198);
			border-radius: 0.1em;
			// border-color: gray;
		}

		#signupButton {
			margin-top: 1.25em;
			margin-bottom: 0;

			padding: 0.5em;

			max-width: 11em;

			border: 2px solid variables.$YELLOW_DARK;
			border-radius: 3em;

			font-size: 95%;
			
			color: black;
			background-color: variables.$YELLOW;
		}
		#signupButton:hover {
			cursor: pointer;
			background-color: variables.$YELLOW_DARK;
		}

		#agreements {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			text-align: center;

			margin-bottom: 0.5rem;

			color: black;
			// background-color: red;

			#tos-agree {
				// background-color: blue;
				width: auto;
				height: auto;
				margin: 0;
			}

			label {
				display: inline;
				flex-wrap: wrap;

				width: 75%;
				text-wrap: wrap;

				margin-left: 0.5em;

				text-align: left;

				color: rgb(74, 74, 74);
				// background-color: pink;

				a {
					color: variables.$VIOLET_DARK;
				}
			}
		}
	}

	#toLogin {
		margin-top: min(5vw, 2em);
		margin-bottom: 2rem;

		color: rgb(74, 74, 74);

		a {
			font-weight: bold;

			color: variables.$VIOLET;
		}
	}
}
