#AddFriendsForm {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;

    // background-color: red;  
    
    $shadow_color: rgba(0, 0, 0, 0.159);

    font-family: 'Helvetica', Arial, sans-serif;

    border-radius: 10px;
    box-shadow: 1px 1px 26px 1px $shadow_color;
    -webkit-box-shadow: 1px 1px 26px 1px $shadow_color;
    -moz-box-shadow: 1px 1px 26px 1px $shadow_color;

    .inputAndLabel {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;

        // background-color: orange;
        width: 100%;

        margin-bottom: 0.5em;

        input {
            margin-left: 1em;
        }
    }

    #AddFriendsSubmit {
        margin-top: 1em;
    }
    
}