* {
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica", sans-serif;
	font-size: 16px;
}

$YELLOW: #fff305;
$YELLOW_DARK: #bab104;
$VIOLET: #5a05f5;
$VIOLET_DARK: #2f0382;

#root {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	width: 100vw;
	// background-color: red;
}
