* {
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    width: 100vw;
    // background-color: red;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;

    padding-top: 1em;
    min-height: 80vh;

    // background-color: red;
}