* {
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica", sans-serif;
	font-size: 16px;
}

$YELLOW: #fff305;
$YELLOW_DARK: #bab104;
$VIOLET: #5a05f5;
$VIOLET_DARK: #2f0382;

$NAVBAR_HEIGHT: min(10vh, 3rem);

#root {
	display: flex;
	flex-direction: column;
	justify-content: start;
	min-height: 100vh;
	width: 100vw;
	// background-color: red;
}

#bodyAndFooter {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	min-height: calc(100vh - $NAVBAR_HEIGHT);

	// background-color: blue;
}