#addFriendsContent {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 50vh;
  width: 100%;
}
#addFriendsContent h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
#addFriendsContent form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-radius: 16px;
  padding: 2rem;
  width: 37.5rem;
  box-shadow: 0px 0px 10px 0px lightgray;
  background-color: white;
}
#addFriendsContent form #nameFormField {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  overflow: visible;
  margin-top: 2rem;
  margin-bottom: 3.5rem;
}
#addFriendsContent form #nameFormField label {
  color: rgb(134, 134, 134);
  margin-bottom: 0.25rem;
}
#addFriendsContent form #nameFormField input {
  padding: 0.5rem;
  box-sizing: border-box;
  border: none;
  border: 2px solid lightgray;
  border-radius: 4px;
  width: 100%;
}
#addFriendsContent form .section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 3rem;
  border-radius: 10px;
}
#addFriendsContent form .section legend {
  color: rgb(134, 134, 134);
}
#addFriendsContent form #lastInteraction {
  margin-bottom: 4.5rem;
}
#addFriendsContent form #lastInteraction .question {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: black;
}
#addFriendsContent form #lastInteraction .answerContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}
#addFriendsContent form #lastInteraction .answerContent .or {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#addFriendsContent form #lastInteraction .answerContent .absolute,
#addFriendsContent form #lastInteraction .answerContent .approximate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-self: stretch;
  padding: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 16px;
  box-shadow: 0px 0px 5px 0px lightgray;
  color: rgb(134, 134, 134);
  background-color: white;
}
#addFriendsContent form #lastInteraction .answerContent .absolute label,
#addFriendsContent form #lastInteraction .answerContent .approximate label {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  font-size: 1rem;
}
#addFriendsContent form #lastInteraction .answerContent .absolute #last_interaction_date_absolute,
#addFriendsContent form #lastInteraction .answerContent .absolute #time_unit_multiple,
#addFriendsContent form #lastInteraction .answerContent .absolute #time_unit,
#addFriendsContent form #lastInteraction .answerContent .approximate #last_interaction_date_absolute,
#addFriendsContent form #lastInteraction .answerContent .approximate #time_unit_multiple,
#addFriendsContent form #lastInteraction .answerContent .approximate #time_unit {
  padding: 0.5rem;
  border: none;
  border: 2px solid rgb(234, 234, 234);
  border-radius: 4px;
  background-color: white;
}
#addFriendsContent form #lastInteraction .answerContent .absolute #time_unit:hover,
#addFriendsContent form #lastInteraction .answerContent .approximate #time_unit:hover {
  cursor: pointer;
}
#addFriendsContent form #lastInteraction .answerContent .absolute {
  flex-direction: column;
  min-width: 10rem;
}
#addFriendsContent form #lastInteraction .answerContent .absolute label {
  margin: 0px;
  margin-bottom: 0.5rem;
}
#addFriendsContent form #lastInteraction .answerContent .approximate .inputtedTimeAgo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#addFriendsContent form #lastInteraction .answerContent .approximate .inputtedTimeAgo #time_unit_multiple {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
#addFriendsContent form #lastInteraction .answerContent .approximate .inputtedTimeAgo #time_unit {
  margin-right: 0.25rem;
}
#addFriendsContent form #lastInteraction .answerContent .ignored {
  box-shadow: none;
}
#addFriendsContent form #relationshipTier {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.5rem;
}
#addFriendsContent form #relationshipTier .fieldset_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#addFriendsContent form #relationshipTier .fieldset_content .selectionPrompt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 0.75rem;
}
#addFriendsContent form #relationshipTier .fieldset_content .selectionPrompt .why {
  font-style: italic;
  color: gray;
  text-decoration-style: dotted;
}
#addFriendsContent form #relationshipTier .fieldset_content .selectionPrompt .why:hover {
  cursor: pointer;
}
#addFriendsContent form #relationshipTier .fieldset_content #algorithmExplanation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 30rem;
  padding: 1rem;
  padding-bottom: 0.75rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
  border-radius: 10px;
  background-color: white;
  line-height: 1.75rem;
  box-shadow: 0px 0px 10px 0px lightgray;
  color: gray;
}
#addFriendsContent form #relationshipTier .fieldset_content #algorithmExplanation .close {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: end;
  padding: 0.25rem;
  border-radius: 4px;
  border: 2px solid lightgray;
  margin-top: 1.5rem;
  width: 7.5rem;
  color: gray;
  background-color: white;
}
#addFriendsContent form #relationshipTier .fieldset_content #algorithmExplanation .close:hover {
  cursor: pointer;
  background-color: rgb(240, 240, 240);
}
#addFriendsContent form #relationshipTier .fieldset_content .tiersAndInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#addFriendsContent form #relationshipTier .fieldset_content .tiersAndInfo .options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}
#addFriendsContent form #relationshipTier .fieldset_content .tiersAndInfo .options .relationshipLabelAndRadio {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin: 0.25rem;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0px 0px 5px 0px lightgray;
}
#addFriendsContent form #relationshipTier .fieldset_content .tiersAndInfo .options .relationshipLabelAndRadio label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  text-align: center;
  text-wrap: nowrap;
  border-radius: 4px;
}
#addFriendsContent form #relationshipTier .fieldset_content .tiersAndInfo .options .relationshipLabelAndRadio label:hover {
  border-radius: 4px;
  cursor: pointer;
}
#addFriendsContent form #relationshipTier .fieldset_content .tiersAndInfo .options .relationshipLabelAndRadio label:active {
  border-radius: 4px;
  box-shadow: 0px 0px 5px 0px lightgray inset;
}
#addFriendsContent form #relationshipTier .fieldset_content .tiersAndInfo .options .relationshipLabelAndRadio .selected {
  background-color: lightcoral;
}
#addFriendsContent form #relationshipTier .fieldset_content .tiersAndInfo .options .relationshipLabelAndRadio input {
  display: none;
}
#addFriendsContent form #relationshipTier .fieldset_content .relationship_tier_description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  line-height: 1.5rem;
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  box-sizing: border-box;
  height: 7rem;
  margin-bottom: 1rem;
  -webkit-user-select: text;
     -moz-user-select: text;
          user-select: text;
  color: gray;
  font-style: italic;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px lightgray inset;
}
#addFriendsContent form #optional {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.75rem;
}
#addFriendsContent form #optional legend {
  color: black;
  margin-bottom: 1rem;
}
#addFriendsContent form #birthday {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 16px;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  box-shadow: 0px 0px 5px 0px lightgray;
  background-color: white;
  color: rgb(134, 134, 134);
}
#addFriendsContent form #birthday label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  margin-left: 0.5rem;
  margin-right: 0.75rem;
  font-size: 1rem;
}
#addFriendsContent form #birthday .formField {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
#addFriendsContent form #birthday .formField select {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  box-sizing: border-box;
  margin-right: 0.25rem;
  border: 2px solid #eaeaea;
  border-radius: 4px;
  background-color: white;
}
#addFriendsContent form #birthday .formField select:hover {
  cursor: pointer;
}
#addFriendsContent form #birthday .formField #zodiacEmoji,
#addFriendsContent form #birthday .formField #zodiacEmojiSpacer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.25rem;
  font-size: 1.5rem;
}
#addFriendsContent form #birthday .formField #zodiacEmoji:hover {
  cursor: help;
}
#addFriendsContent form #Submit {
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 16px;
  border: 2px solid lightcoral;
  border: none;
  color: lightcoral;
  background-color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  box-shadow: 0px 0px 5px 2.5px lightcoral;
}
#addFriendsContent form #Submit:hover {
  cursor: pointer;
  color: white;
  background-color: lightcoral;
}
#addFriendsContent form #Submit:active {
  color: white;
  background-color: lightcoral;
  box-shadow: 0px 0px 5px 2.5px rgba(0, 0, 0, 0.296) inset;
}/*# sourceMappingURL=AddFriends.css.map */