$shadow_color: rgba(0, 0, 0, 0.159);

#addFriendsContent {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	// background-color: orange;

	min-height: 50vh;
	// height: 100%;
	width: 100%;

	h2 {
		font-size: 2rem;
		margin-bottom: 1.5rem;
	}

	form {
		$FORM-SECTION-MARGIN: 1.5rem;
		$FORM-BORDER-RADIUS: 16px;

		$SECTION-BORDER-RADIUS: 10px;

		$INPUT-BORDER-RADIUS: 4px;
		$INPUT-PADDING: 0.5rem;
		$FIELDSET-PADDING: 1rem;
		$LABEL_COLOUR: rgb(134, 134, 134);
		$QUESTION_COLOUR: black;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: stretch;

		border-radius: $FORM-BORDER-RADIUS;

		padding: 2rem;

		box-shadow: 0px 0px 10px 0px lightgray;

		background-color: white;

		#nameFormField {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: start;
			flex-wrap: wrap;
			overflow: visible;

			margin-top: 2rem;
			margin-bottom: calc($FORM-SECTION-MARGIN + 2rem);

			// background-color: red;

			label {
				color: $LABEL_COLOUR;
				margin-bottom: 0.25rem;
			}

			input {
				padding: $INPUT-PADDING;
				box-sizing: border-box;

				border: none;
				border: 2px solid lightgray;
				border-radius: $INPUT-BORDER-RADIUS;

				width: 100%;
			}
		}

		.section {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			padding: $FIELDSET-PADDING;
			box-sizing: border-box;

			margin-bottom: 3rem;

			// border: 2px solid lightgray;
			border-radius: $SECTION-BORDER-RADIUS;

			legend {
				color: $LABEL_COLOUR;
			}
		}

		#lastInteraction {
			.question {
				margin-top: 0.5rem;
				margin-bottom: 1.5rem;

				text-align: center;

				color: $QUESTION_COLOUR;
				// background-color: red;
			}

			.answerContent {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: stretch;

				width: 100%;

				// background-color: red;

				.or {
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;

					margin: 1.5rem;
					margin-top: 1rem;
					margin-bottom: 1rem;

					// background-color: cyan;
				}

				.absolute,
				.approximate {
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					justify-self: stretch;

					padding: 1rem;
					padding-left: 1.5rem;
					padding-right: 1.5rem;
					border-radius: $FORM-BORDER-RADIUS;

					box-shadow: 0px 0px 5px 0px lightgray;

					color: $LABEL_COLOUR;

					background-color: white;

					label {
						display: flex;
						flex-direction: row;
						justify-content: start;
						align-items: center;

						font-size: 1rem;

						// background-color: lightblue;
					}

					#last_interaction_date_absolute,
					#time_unit_multiple,
					#time_unit {
						padding: $INPUT-PADDING;

						border: none;
						border: 2px solid rgb(234, 234, 234);
						border-radius: $INPUT-BORDER-RADIUS;

						background-color: white;
					}
					#time_unit:hover {
						cursor: pointer;
					}
				}

				.absolute {
					flex-direction: column;

					min-width: 10rem;

					label {
						margin: 0px;
						margin-bottom: 0.5rem;
					}
				}

				.approximate {
					.inputtedTimeAgo {
						display: flex;
						flex-direction: row;
						justify-content: center;
						align-items: center;

						// background-color: lightblue;

						#time_unit_multiple {
							margin-left: 0.25rem;
							margin-right: 0.25rem;

							// background-color: rebeccapurple;
						}

						#time_unit {
							margin-right: 0.25rem;
						}
					}
				}

				.ignored {
					box-shadow: none;
				}
			}
		}

		#relationshipTier {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-bottom: 3.5rem;

			// background-color: red;

			.fieldset_content {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				width: 100%;

				// background-color: orange;

				.selectionPrompt {
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;

					width: 100%;

					margin-bottom: 0.75rem;

					// background-color: yellow;

					.why {
						font-style: italic;
						color: gray;
						text-decoration-style: dotted;
						// margin-top: 0.5rem;
					}
					.why:hover {
						cursor: pointer;
					}
				}

				#algorithmExplanation {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;

					max-width: 30rem;

					padding: 1rem;
					padding-bottom: 0.75rem;
					box-sizing: border-box;

					margin-bottom: 1rem;

					border-radius: $SECTION-BORDER-RADIUS;
					background-color: white;

					line-height: 1.75rem;

					box-shadow: 0px 0px 10px 0px lightgray;

					color: gray;

					.close {
						display: flex;
						flex-direction: row;
						justify-content: center;
						align-items: center;
						align-self: end;

						padding: 0.25rem;
						border-radius: $INPUT-BORDER-RADIUS;
						border: 2px solid lightgray;

						margin-top: 1.5rem;
						width: 7.5rem;

						color: gray;

						background-color: white;
					}
					.close:hover {
						cursor: pointer;
						background-color: rgb(240, 240, 240);
					}
				}

				.tiersAndInfo {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: center;

					width: 100%;

					user-select: none;

					// background-color: green;

					.options {
						display: flex;
						flex-direction: row;
						justify-content: space-evenly;
						align-items: center;

						width: 100%;

						margin-bottom: 1rem;

						// background-color: yellow;

						.relationshipLabelAndRadio {
							display: flex;
							flex-direction: row;
							justify-content: start;
							align-items: center;

							margin: 0.25rem;

							border-radius: $INPUT-BORDER-RADIUS;

							box-shadow: 0px 0px 5px 0px lightgray;

							// background-color: cyan;

							label {
								display: flex;
								flex-direction: row;
								justify-content: start;
								align-items: center;

								padding: $INPUT-PADDING;
								box-sizing: border-box;

								width: 100%;
								height: 100%;

								border-radius: $INPUT-BORDER-RADIUS;

								// background-color: magenta;
							}
							label:hover {
								border-radius: $INPUT-BORDER-RADIUS;
								cursor: pointer;
							}
							label:active {
								border-radius: $INPUT-BORDER-RADIUS;
								box-shadow: 0px 0px 5px 0px lightgray inset;
							}
							.selected {
								background-color: lightcoral;
							}

							input {
								display: none;
							}
						}
					}
				}

				.relationship_tier_description {
					display: flex;
					justify-content: center;
					align-items: center;

					max-width: 30rem;

					text-align: center;

					line-height: 1.5rem;

					padding: 1rem;
					padding-left: 3rem;
					padding-right: 3rem;
					box-sizing: border-box;

					height: 7rem;

					margin-bottom: 1rem;

					user-select: text;

					color: gray;

					font-style: italic;

					border-radius: $SECTION-BORDER-RADIUS;
					box-shadow: 0px 0px 10px 0px lightgray inset;

					// background-color: cyan;
				}
			}
		}

		#optional {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			// background-color: cyan;

			legend {
				color: $QUESTION_COLOUR;

				margin-bottom: 1rem;
			}
		}
		#birthday {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;

			padding: $FIELDSET-PADDING;
			box-sizing: border-box;

			border-radius: $FORM-BORDER-RADIUS;
			overflow: hidden;

			user-select: none;

			box-shadow: 0px 0px 5px 0px lightgray;

			background-color: white;
			color: $LABEL_COLOUR;

			label {
				margin-bottom: 0.5rem;
			}

			.formField {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: stretch;

				// background-color: beige;

				select {
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;

					padding: $INPUT-PADDING;
					box-sizing: border-box;

					margin-right: 0.25rem;

					border: 2px solid #eaeaea;
					border-radius: $INPUT-BORDER-RADIUS;

					background-color: white;
				}
				select:hover {
					cursor: pointer;
				}

				#zodiacEmoji,
				#zodiacEmojiSpacer {
					display: flex;
					justify-content: center;
					align-items: center;

					width: 2.25rem;
					// height: 2rem;
					font-size: 1.5rem;

					// background-color: orange;
				}
				#zodiacEmoji:hover {
					cursor: help;
				}
			}
		}

		$SUBMIT_COLOUR: lightcoral;
		#Submit {
			box-sizing: border-box;
			padding: 1rem;

			border-radius: $FORM-BORDER-RADIUS;
			border: 2px solid $SUBMIT_COLOUR;
			border: none;

			color: $SUBMIT_COLOUR;
			background-color: white;

			user-select: none;

			box-shadow: 0px 0px 5px 2.5px $SUBMIT_COLOUR;

			// background-color: red;
		}
		#Submit:hover {
			cursor: pointer;
			color: white;
			background-color: $SUBMIT_COLOUR;
		}
		#Submit:active {
			color: white;
			background-color: $SUBMIT_COLOUR;
			box-shadow: 0px 0px 5px 2.5px rgba(0, 0, 0, 0.296) inset;
		}
	}
}
