@use "../../../static/styles/variables";

#loading {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: calc(100vh - 2 * variables.$NAVBAR_HEIGHT);

	font-size: 5vh;
	color: lightgray;
	cursor: progress;
}