@use "../../../../static/styles/variables";


$COLUMN_BORDER_WIDTH: 3px;
$HOMEPAGE_HORIZONTAL_PADDING: 1.5rem;
$HOMEPAGE_SECTIONS_WRAP_SCREEN_WIDTH: calc(1000px + 2 * $HOMEPAGE_HORIZONTAL_PADDING);

#homeContent {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;

	min-height: calc(100vh - 2 * variables.$NAVBAR_HEIGHT);
	width: 100%;

	padding: $HOMEPAGE_HORIZONTAL_PADDING;
	padding-top: min(5.5vh, 30px);
	padding-bottom: 0px;
	box-sizing: border-box;

	text-align: center;

	font-size: 1rem;
	background-color: variables.$VIOLET_BACKGROUND;

	h1 {
		font-size: 2rem;

		margin-bottom: min(5vh, 3rem);
	}


	#homeSections {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: stretch;
		flex-wrap: wrap;

		width: 100%;

		// background-color: red;

		.homeSection {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			// min-width: 500px;
			width: 100%;
			height: 100%;

			box-sizing: border-box;

			margin-bottom: 1.25rem;

			// border: 1px solid black;
			// background-color: orange;

			h2 {
				margin-bottom: 1.25rem;

				text-align: center;

				font-size: 1.5rem;
				font-weight: normal;
			}
		}



		#urgentFriendsSection {
			display: flex;
			flex-direction: column;
			justify-content: center;

			margin-bottom: 3.5rem;

			// background-color: yellow;

			#noFriends {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				height: 5em;
				width: 100%;
				max-width: 25em;

				padding: 1rem;
				padding-top: 4rem;
				padding-bottom: 4rem;
				box-sizing: border-box;

				font-size: 1rem;
				user-select: none;

				background-color: white;

				a {
					margin-top: 1rem;

					padding: 1.25rem;
					padding-top: .5rem;
					padding-bottom: .5rem;
					box-sizing: border-box;

					border-radius: 5px;

					text-decoration: none;

					color: black;
					background-color: variables.$YELLOW;
				}
			}

			#urgentCards {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: stretch;

				width: 100%;

				// background-color: bisque;

				.urgent_friend {
					display: flex;
					flex-direction: row;
					align-items: stretch;

					width: 100%;
					max-width: 47.5rem;

					margin-left: auto;
					margin-right: auto;
					margin-bottom: min(22.5px, max(3vh, 1rem));

					padding: 1rem;
					box-sizing: border-box;

					overflow: hidden;

					background-color: white;
					// background-color: pink;

					a {
						display: flex;
						align-self: stretch;

						text-decoration: none;

						img {
							display: flex;
							flex-direction: row;
							justify-content: center;
							align-items: center;
							align-self: stretch;

							padding: 1rem;
							box-sizing: border-box;

							$DIMENSION: min(16vw, 8rem);
							// height: $DIMENSION;
							width: $DIMENSION;
							// aspect-ratio: 1 / 1;

							text-align: center;
							text-wrap: wrap;
							overflow: hidden;
							word-break: normal;

							text-decoration: none;

							font-family: cursive;

							color: gray;
							background-color: variables.$LIGHT_GRAY;
						}

						@media screen and (max-width: 400px) {
							img {
								display: none;
								// background-color: red;
							}
						}
					}

					.body {
						display: flex;
						flex-direction: column;
						justify-content: start;
						align-items: stretch;

						width: 100%;
						overflow-wrap: break-word;

						padding-left: 0.75rem;

						// background-color: violet;

						.text {
							display: flex;
							flex-direction: column;
							justify-content: space-between;

							width: 100%;
							height: 100%;

							text-wrap: wrap;
							word-wrap: break-word;
							overflow-wrap: break-word;
							word-break: break-all;

							// background-color: teal;

							.name_and_relationship_tier {
								display: flex;
								flex-direction: row;
								justify-content: space-between;
								align-items: start;

								// background-color: orange;

								.name {
									text-decoration: none;

									font-size: 1.33rem;
									font-weight: bold;

									color: black;
									// background-color: magenta;
								}

								.relationship_icon {
									display: flex;
									flex-direction: column;
									justify-content: start;
									align-items: end;

									margin-top: -0.33rem;
									margin-left: 0.75rem;

									font-size: 1.5em;

									user-select: none;

									// background-color: red;
								}
							}

							.under_name {
								display: inline-flex;
								flex-direction: row;
								justify-content: center;
								align-items: center;

								text-align: center;

								height: 100%;

								// background-color: yellow;

								.time_ago {
									margin-left: 0.33rem;
								}
							}

							.birthday {
								flex-direction: column;

								.emoji {
									margin-top: 0.5rem;
								}
							}
						}

						.buttons {
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							align-items: center;

							width: 100%;

							margin-top: 0.66rem;

							// background-color: red;

							button {
								padding: 0.25rem;
								padding-left: 0.75rem;
								padding-right: 0.75rem;

								border: none;

								color: white;
								background-color: variables.$DARK_GRAY;
							}

							button:hover {
								cursor: pointer;
								background-color: gray;
							}

							.mark_completed {
								width: 100%;

								margin-left: 0.5rem;

								background-color: variables.$VIOLET;
							}

							.mark_completed:hover {
								background-color: variables.$VIOLET_DARK;
							}
						}
					}

					@media screen and (max-width: 400px) {
						.body {
							padding-left: 0;
						}
					}
				}
			}
		}

		#upcomingSection {
			// background-color: greenyellow;


			#calendar {
				display: flex;
				flex-direction: column;
				justify-content: stretch;
				align-items: stretch;

				width: 100%;
				max-width: 47.5rem;

				box-sizing: border-box;


				// background-color: turquoise;

				.column {
					display: flex;
					flex-direction: row;
					justify-content: stretch;
					align-items: stretch;
					align-self: stretch;

					width: 100%;
					min-height: 4.5rem;

					padding: 0px;
					box-sizing: border-box;

					border: 1px solid black;
					border: none;

					user-select: none;

					// background-color: cyan;

					.day_header {
						display: flex;
						flex-direction: row;
						justify-content: center;
						align-items: center;
						align-self: stretch;
						flex-shrink: 0;

						min-width: 2.5rem;
						width: 2.5em;

						background-color: variables.$LIGHT_GRAY;
						// background-color: orange;
					}

					.body {
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						align-items: center;

						flex: 1;

						background-color: white;

						.icons {
							display: flex;
							flex-direction: row;
							justify-content: flex-start;
							align-items: center;
							overflow: hidden;
							word-break: break-all;
							flex-wrap: wrap;

							height: 100%;
							width: 100%;

							padding-left: .5rem;
							padding-right: .5rem;
							box-sizing: border-box;

							// background-color: orange;

							.icon {
								display: flex;
								align-items: center;
								justify-content: center;
								overflow: hidden;

								width: 3rem;
								aspect-ratio: 1 / 1;

								margin: .25rem;
								box-sizing: border-box;


								border: 2px solid blue;
								border: none;
								border-radius: 100%;

								font-family: cursive;
								text-align: center;
								user-select: none;

								color: gray;
								background-color: variables.$LIGHT_GRAY;
							}
						}

						.emoji {
							display: flex;
							flex-direction: row;
							justify-content: center;
							align-items: center;

							width: 2.5rem;
							height: 100%;

							padding-left: .25rem;
							padding-right: .25rem;
							box-sizing: border-box;

							font-size: 1.5em;

							user-select: none;

							// background-color: red;
						}
					}
				}



				.selected {

					border: $COLUMN_BORDER_WIDTH solid variables.$VIOLET;

					.day_header {
						background-color: variables.$YELLOW;
					}
				}

				.selected:hover {
					border-color: variables.$VIOLET_DARK;
				}
			}
		}

		@media screen and (min-width: $HOMEPAGE_SECTIONS_WRAP_SCREEN_WIDTH) {
			.homeSection {
				min-width: 30rem;
				width: calc(50% - 2 * $HOMEPAGE_HORIZONTAL_PADDING);

				margin-bottom: 0px;
			}

			#upcomingSection {
				#calendar {
					flex-direction: row;

					min-height: 20rem;


					.column {
						flex-direction: column;

						height: auto;

						.day_header {
							width: 100%;
							height: 2.5em;
						}

						.body {
							flex-direction: column;

							.icons {
								flex-direction: column;
								justify-content: flex-start;
								flex-wrap: nowrap;

								padding-top: 0.5rem;
								padding-bottom: 0.5rem;

								.icon {
									flex-wrap: nowrap;

									width: clamp(3rem, 4vw, 4.75rem);
								}
							}
						}

						.emoji {
							max-height: 1.5em;
							max-width: max-content;
							padding-bottom: 0.25rem;
							padding-left: 0rem;

							width: 100%;
						}
					}

					.column:hover {

						border: $COLUMN_BORDER_WIDTH solid variables.$DARK_GRAY;

						cursor: pointer;
					}
				}
			}
		}
	}
}