$NAVBAR_HEIGHT: min(10vh, 3rem);

$SCREEN_HORIZONTAL_PADDING: min(3vw, 1.5rem);

$YELLOW: #ffd54c;
$YELLOW_DARK: #e8bf39;
$VIOLET: #5a05f5;
$VIOLET_DARK: #4b07c9;
$VIOLET_BACKGROUND: #e7daff;
$LIGHT_GRAY: #cccccc;
$DARK_GRAY: #9f9f9f;
$DELETE_RED: #e30000;
$FOOTER_DARK_GRAY: rgb(21, 21, 21);
