@use "../../../static/styles/variables";

#signupContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	min-height: calc(100vh - 1 * variables.$NAVBAR_HEIGHT);
	width: 100%;

	background-color: variables.$VIOLET;

	h1 {
		font-size: 2.25rem;
		margin-bottom: 1.5rem;
		color: white;
	}
}

#signupForm {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;

	padding-top: 2em;
	padding-bottom: 1em;
	box-sizing: border-box;

	background-color: white;
	color: darkslategrey;

	$shadow_color: rgba(0, 0, 0, 0.283);
	// box-shadow: 1px 1px 20px 1px $shadow_color;

	max-width: 30em;
	// height: 50vh;

	input {
		box-sizing: border-box;
		margin-bottom: 1.25em;
		margin-top: 0.25em;
		padding: 0.35em;
		width: 100%;

		border: 2px solid lightgray;
		border-radius: 0.1em;
		// border-color: gray;
	}

	#loginButton {
		margin-top: 1.25em;
		margin-bottom: 0.7em;

		padding: 0.5em;

		max-width: 11em;

		font-size: 95%;
	}

	#agreements {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: top;

		text-align: center;

		width: 100%;

		// background-color: red;

		#tos-agree {
			// background-color: blue;
			width: auto;
			height: auto;
			margin: 0;
		}

		label {
			display: inline;

			width: 66%;
			text-wrap: wrap;

			margin-left: 0.5em;

			text-align: left;

			// background-color: pink;
		}
	}
}

#toLogin {
	margin-top: 2.5em;

	color: white;

	a {
		font-weight: bold;

		color: variables.$YELLOW;
	}
}
