.container {
    // background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: calc(100vh - 4em);

    background: #2A7B9B;
    background: linear-gradient(0deg, rgb(255, 212, 230) 0%, rgba(255, 255, 255, 1) 100%);
}

#signupForm {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction:column;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: auto;

    padding: 2em;
    padding-bottom: 1em;

    border: 1px solid grey;
    background-color: white;
    color: darkslategrey;

    $shadow_color: rgba(0, 0, 0, 0.283);
    border-radius: 0.75em;
    box-shadow: 1px 1px 20px 1px $shadow_color;
    -webkit-box-shadow: 1px 1px 20px 1px $shadow_color;
    -moz-box-shadow: 1px 1px 20px 1px $shadow_color;

    max-width: 30em;
    // height: 50vh;

    input {

        margin-bottom: 1.25em;
        width: 100%;

        border-style: solid;
        border-radius: 0.1em;
        border-width: 1px;
        // border-color: gray;

    }
    
    #loginButton {

        margin-top: 1.25em;

        padding: 0.2em;

        max-width: 11em;

        font-size: 95%;
    }

}